[2017-03-27 15:45] hshoff opened #1 "[ssr] verify server rendering"
My understanding is this should just work, but I haven't verified/explored it yet. Would like to launch v1.0.0 with the ssr story figured out.

https://twitter.com/poke707/status/845252764183683072
https://twitter.com/rauchg/status/845372211321982976

[2017-05-01 23:02] hshoff opened #4 "[gallery] call for community submissions"
**Making something cool with `vx`?**
Submit a pull request or post here and we'll get it added to https://vx-demo.now.sh/gallery

**Using `vx` in a project?**
Post the project/company name + link and we'll add it to the `Used By` list in the Readme.

[2017-05-08 20:49] hshoff opened #6 "[animations] develop story for animation + transitions"

[2017-05-08 20:50] hshoff opened #7 "[zoom] create @vx/zoom"

[2017-05-08 20:51] hshoff opened #8 "[drag] create @vx/drag"

[2017-05-08 20:52] hshoff opened #9 "[docs] document api of all packages"

[2017-05-08 20:52] hshoff opened #10 "[prop types] add prop type checks to all components"

[2017-05-08 20:53] hshoff opened #11 "[tutorials] create tutorials on making reusable charts"

[2017-05-08 20:54] hshoff opened #12 "[a11y] accessibility audit"

[2017-05-08 20:54] hshoff opened #13 "[browsers] verify browser support"

[2017-05-08 20:56] hshoff opened #14 "[brush] add <BrushX /> and <BrushY /> components"

[2017-05-08 21:00] hshoff opened #15 "[events] make it easier to convert event coords to local to svg coords"
I've got a `localPoint` util that requires a reference to the svg node https://github.com/hshoff/vx/blob/master/packages/vx-event/src/localPoint.js

but I'd like to make this easier to use/remove the boilerplate of converting the brush event coordinates to local coordinates.

[2017-05-08 21:07] hshoff opened #16 "[text] fix <TextWrap />"
Make it easier to have text autowrap in svg. https://github.com/hshoff/vx/blob/master/packages/vx-text/src/text/TextWrap.js

[2017-05-08 22:23] Flaque commented on #1
Forgive me if I'm wrong about this, but isn't [vx-demo](https://github.com/hshoff/vx/tree/master/packages/vx-demo) already running server side?

Doesn't Next already do server side rendering as just part of it's process?

[2017-05-08 23:22] hshoff commented on #1
yup!

also yup!

there was a react error throwing (maybe it was from a previous version of Next) saying path attributes we're inconsistent. It doesn't look like it does it anymore, which is great.

I'd like to verify that it works with other SSR projects like https://github.com/airbnb/hypernova for example. I just haven't gotten around to it yet.

[2017-05-09 15:31] Flaque commented on #9
Hey, this might be a stupid question, but where's the repo for the docs?

[2017-05-09 15:50] hshoff commented on #9
Great question. My current plan is to add docs to each `packages/**/Readme.md` then write a script that builds those to a new dir called `docs/` at the vx repo root. Open to suggestions for alternative solutions!

[2017-05-10 13:09] rywils21 commented on #11
Are you looking for these to be a page in vx-demo?

[2017-05-10 18:07] hshoff commented on #11
I'm thinking we'll make an index page of tutorials in vx-demo that would link out to where ever they are hosted Medium, personal blogs, etc.

[2017-05-10 21:47] Flaque commented on #11
@hshoff That's a great way to support a community around it.

[2017-05-13 17:30] Flaque commented on #9
I looked into [react-docgen](https://github.com/reactjs/react-docgen) a bit for linking docs to code. But react-docgen assumes a `class` structure for it's objects and doesn't really work all that well with the existing code. It might be a future thing, but I'm just gonna write docs in the Readme's for the moment.

[2017-05-13 20:54] Flaque opened #20 "What is "labelOrientation" in annotation's `LinePath.js` file?"
LinePath.js has a parameter `labelOrientation = 'horizontal'` that doesn't seem to do anything. Can we remove it?

EDIT: Also "labelVerticalAlign", and "labelHorizontalAlign" are not used.

[2017-05-13 21:11] Flaque opened #21 "Is the `<Axis/>` element not supposed to be accessed?"
I noticed in the gallery, there's no examples of using `<Axis />`, but plenty of examples of using `<AxisLeft />`, `<AxisRight />`, `<AxisTop />`, `<AxisBottom />`. Those files also are just wrappers on top of `<Axis/>`.

I'm writing docs for the `@vx/axis` package, should I emphasize that it's best to use the specific axis's?

[2017-05-15 15:57] janek26 commented on #1
Newest Version of Next `"next": "^2.3.1"` throws following Warning:

[code]
So its not properly rendering serverside yet.

[2017-05-15 16:15] hshoff commented on #1
Yeah something is is up with 2.3.1. vx-demo.now.sh is using [`next@2.2.0`](https://github.com/hshoff/vx/blob/master/packages/vx-demo/package.json#L39) which appears to work without warning right now. I need to dive into the changelog and see what's up.

[2017-05-15 17:20] Flaque opened #25 "Should `genPointsRange` be usable?"
This might be a stupid question and I might be misunderstanding ES6 here, but why is `genPointsRange` exported in the [`genRandomNormalPoints.js`](https://github.com/hshoff/vx/blob/master/packages/vx-mock-data/src/generators/genRandomNormalPoints.js) file?

The `genPoints` is exported with `default`, so that would make it the function that's used when you  run something like:

[code]

And then the

[2017-05-16 00:24] hshoff commented on #21
I'd say for 90% of the cases folks won't need`<Axis />` but it's there if someone does want to use it.

[2017-05-16 00:25] hshoff commented on #20
Yup, these are TODOs for me.

[2017-05-16 17:26] #21 closed

[2017-05-16 17:27] Flaque commented on #20
TODO's to remove or TODO's to do something with them? I can remove them and submit a PR if you'd like.

[2017-05-16 17:30] Flaque opened #26 "Suggestion: Change `Axis.AxisBottom` to `Axis.Bottom`"
For the pre-made axes, would it be better to remove the prefix since they're called with `Axis.*`?

So:
`Axis.AxisBottom` -> `Axis.Bottom`
`Axis.AxisTop` -> `Axis.Top`
`Axis.AxisLeft` -> `Axis.Left`
`Axis.AxisRight` -> `Axis.Right`

I'm still pretty inexperienced though and can understand if there's something wrong with this.

[2017-05-18 00:09] hshoff commented on #26
Odds are good that most folks will use destructoring when they import the respective Axis they need like so:

[code]

In the gallery examples I'm using package namespaces to help folks identify where things are coming from (it's not necessary, just thought it'd be easier to read):

[code]

if you want smaller builds (building a library, concerned about js size) you can import the component directl

[2017-05-18 00:11] Flaque commented on #26
Ahhhh, okay that makes a lot of sense. :D

[2017-05-18 01:05] williaster commented on #26
this is a slightly different topic/I can open another issue, but right now destructuring fails for me on import:

[code]

I think this is because [named imports are not the same as destructuring](https://github.com/babel/babel-loader/issues/194)? for that to work should we export as variables in addition to the default object?

[2017-05-18 19:36] Flaque commented on #11
I wrote up a tut  on making a simple AreaClosed style graph using gradients. It's pretty similar to [this gallery item](https://vx-demo.now.sh/areas), but it takes its time and explains every detail.

I figure people that need less detail are going to just jump into the code/docs and the folks that want detail want a lot of it.

It's not published yet (I'm gonna have a few people read it over firs

[2017-05-18 19:52] hshoff commented on #11
Wow, great write-up @Flaque!

I've a got a breaking change for all packages coming up that will put your draft out of date for `>0.0.109` versions. This change fixes https://github.com/hshoff/vx/issues/26#issuecomment-302272268 and changes the way vx exports and imports.

[code]

Sorry to introduce a breaking change like this after you wrote the example code and post. Hope it's not too much troubl

[2017-05-18 19:54] Flaque commented on #11
No problem :D

Anything you need help with in the meantime? (Is brush stable? Should I write docs for that?) Or maybe something code-related?

[2017-05-18 19:54] hshoff commented on #26
good catch @williaster, I'll get a fix out today for all packages.

fix summary:
[code]

[2017-05-19 03:08] hshoff commented on #26
fix is here https://github.com/hshoff/vx/pull/29

[2017-05-19 03:08] #26 closed

[2017-05-19 19:08] hshoff commented on #11
@Flaque love the tutorial, a really great intro as well.

I went through and commented on the medium draft where updates should happen to account for the new named exports (https://github.com/hshoff/vx/pull/27). I'd like to discourage namespacing components pattern like `<Axis.AxisLeft />` for now since it leads to larger bundle sizes when you do `import * as Axis from '@vx/axis';`. It's doable fo

[2017-05-19 19:57] Flaque commented on #11
@hshoff Wow, thank you! I'll make those changes! 🙌

[2017-05-19 20:36] Flaque commented on #9
Is `brush` "stable"-ish right now? There's no longer a gallery version of it. Should I just hold off on writing the docs on it for now?

[2017-05-19 21:39] hshoff commented on #11
created a medium publication: https://medium.com/vx-code

@Flaque you should be able to submit your draft to the vx code publication when you're ready
![screen shot 2017-05-19 at 2 38 04 pm](https://cloud.githubusercontent.com/assets/339208/26267826/f6d8b1ae-3ca0-11e7-99df-984682020298.png)
![screen shot 2017-05-19 at 2 38 19 pm](https://cloud.githubusercontent.com/assets/339208/26267831/fa3c080a-

[2017-05-19 21:59] Flaque commented on #11
Cool, submitted a draft.

[2017-05-21 04:49] andyfangdz opened #33 "Improve usability: aggregated package or cli"
Creating this issue here as a note of what we discussed on Friday:

Right now, to use vx, one has to pull in each of the dependency as individual repositories. To improve the usability of the package (e.g. upgrading to a new version of vx), we can consider two approaches:

1. Create an "aggregated" package, e.g., `@vx/vx`, as an indexing package of all the components in vx. This is the same approa

[2017-05-22 16:56] williaster opened #38 "[BarStack] Add <BarStack /> shape component"
Need this type of shape for use in Data DLS, just noting it here and will work on it this week.

[2017-05-22 23:58] #38 closed

[2017-05-24 16:59] hshoff opened #41 "[future] explore using react-primitives-art for cross-platform support"
vx should work on web, native, vr, everywhere. The current implementation depends on `react-dom` which means it's only available on web.

@lelandrichardson's talk `React as a Platform` https://www.youtube.com/watch?v=hNwQPJy-XZY
https://github.com/lelandrichardson/react-primitives-art

[2017-05-24 20:50] hbourzeix opened #43 "Add pie/ donut charts"

[2017-05-24 20:50] hbourzeix opened #44 "Add easy to use chart point tooltip"

[2017-05-25 00:21] hshoff commented on #44
Yup! This is coming.

[2017-05-25 00:21] hshoff commented on #43
Also yup! This is also coming.

[2017-06-01 16:50] hanford opened #47 "[vx-demo] Add webkit overflow touch to demo website"
On iOS, scrolling the demo website locks everytime the thumb is released, unfortunately this is default behavior on iOS unless you add `-webkit-overflow-scrolling: touch;` to the scrollable element. This will add inertia like scrolling.

[2017-06-01 16:58] hshoff commented on #47
This has been bugging me as well. Will get this fixed today.

[2017-06-01 17:53] #47 closed

[2017-06-01 19:59] hshoff commented on #47
fix is live https://vx-demo.now.sh/gallery

[2017-06-02 21:05] donpinkus opened #50 "<Bar> onClick handler is called on render, not on click"
I'm noticing something odd - it seems that the `<Bar>` component's `onClick` handler is called when it is rendered.

I noticed it while following the example in VX's gallery: https://vx-demo.now.sh/bars

Here is code to reproduce it.

It has a `console.log` on render, when the SVG is clicked, and when the Bar is clicked. Notice that the console.logs for the `bar` being clicked are all present afte

[2017-06-02 21:26] donpinkus commented on #50
I suspect this is some bug related to my code, if

[2017-06-02 21:26] #50 closed

[2017-06-04 01:26] Flaque opened #51 "[heatmaps] Should heatmaps use an accessor?"
Right now `heatmaps` require the user to pass in data that looks like:
[code]

Why not have bin accessors?

[code]

[2017-06-04 06:27] hshoff commented on #51
Ah yes, forgot to finish that. Thanks for catching that. Fixed it here: https://github.com/hshoff/vx/pull/49/commits/30cea681b6a59847c48ae2f8b50644bd70f42cb4. Will go out in `v0.0.116`.

[2017-06-04 06:58] #51 closed

[2017-06-04 07:23] hshoff commented on #50
Ah this is by design at the moment. props that are functions need to be thunks. I'm still playing around with this part of the api, so this might change in the future. I hope to lock it down in the next week or two.

Here's the fix:
[code]

You can see this in action here:
- https://vx-demo.now.sh/bars
- https://vx-demo.now.sh/barstack

[2017-06-04 19:00] donpinkus commented on #50
Ah that's interesting.

Is having access to the component's "data" the main motivation for using a thunk here?

[2017-06-04 19:31] hshoff commented on #50
Exactly, it's a bit silly in the simple bar graph example. But it's handy for multiple series like BarStack, BarGroup, or Heatmap

[2017-06-05 06:00] hshoff commented on #43
Added in `v0.0.117` https://vx-demo.now.sh/arcs

[2017-06-05 06:00] #43 closed

[2017-06-05 07:43] hbourzeix commented on #43
good job!

[2017-06-06 09:24] nfcampos commented on #50
why not provide the data as `this`? or as a 2nd argument?

[2017-06-08 08:05] jockw opened #54 "how i can install 'vx'?"
when i install vx use 'npm install vx ' ,i am find that  the 'vx' i had installed didn't your 'vx',so how can i install your 'vx'

[2017-06-08 13:20] rd-dev-ukraine opened #55 "please add documentation to axis"

[2017-06-08 13:21] rd-dev-ukraine opened #56 "typescript typings"
It will be nice to have typings. It will be little easier to understand how to use your package. :)

[2017-06-08 17:01] williaster commented on #54
Vx is broken down into multiple packages (`@vx/axis`, `@vx/shape`, etc.) with the idea that you install what you need and can minimize bundle size.

Also note that because these are all name-spaced packages you need a `@` before vx. so something like `npm install @vx/axis` should work.

[2017-06-09 00:07] hshoff commented on #54
Hi @jockw thanks for checking out vx. As @williaster said, vx is a library of packages so you only need to install what you need.

I'll give this some thought. Going to close this in favor of https://github.com/hshoff/vx/issues/33

[2017-06-09 00:07] #54 closed

[2017-06-09 03:06] Flaque commented on #55
Docs for axis currently exist but are still in [a pull request](https://github.com/hshoff/vx/pull/27)! ❤️

You can see them [here!]
(https://github.com/Flaque/vx/blob/5c9e590548060c23e3ad3287a108c99339f4dbdc/packages/vx-axis/Readme.md)

[2017-06-13 11:14] jacek213 commented on #56
Also typings are required for typescript setting `no implicit any`.

[2017-06-13 22:00] crackcomm opened #64 "Graphs"
Is it currently possible for example in https://vx-demo.now.sh/trees to make A3 parent of C1 or C1 parent of B1?

I want to be able to represent information flow between multiple neurons nodes being neurons but also dendrites and axon terminals (inputs and output).

[2017-06-14 00:33] hshoff commented on #64
Hi @crackcomm, thanks for checking out vx!

Unfortunately no, adding `C1` as a child to `A3` results in:

<img width="838" alt="screen shot 2017-06-13 at 5 06 31 pm" src="https://user-images.githubusercontent.com/339208/27109990-0b870d4e-505b-11e7-9eb8-349bbbea3d1f.png">

We'll need to add either a `network` component to `@vx/hierarchy` or create a new package `@vx/network`... haven't decided whic

[2017-06-14 00:34] hshoff opened #65 "[legend] add @vx/legend"

[2017-06-14 00:52] crackcomm commented on #64
@hshoff I will certainly use vs when It'll be capable of doing that, thanks.

[2017-06-15 02:07] jockw commented on #54
thankyou

[2017-06-18 04:53] jharris4 opened #68 "gradients from demo don't show in Safari"
Nice work on the library!

Just thought I'd give a helpful tip, Safari doesn't support rgba colors for gradient stop attributes, so you need to remove the opacity on this line:

https://github.com/hshoff/vx/blob/11dd365aa1a60d354a3c015199ee549961edd6e4/packages/vx-demo/pages/areas.js#L62

I'd recommend changing the props for `LinearGradient` to also accept the fromOpacity and toOpacity.

I can't r

[2017-06-18 12:55] crackcomm commented on #64
Im not sure that should be a part of core but a grouping like in tensorboard so you can expand the graph will be very useful when visualizing large graphs ![](https://i.stack.imgur.com/hXoW9.png)

[2017-06-18 16:44] Flaque opened #69 "Could we make a vx-util?"
There's a couple repeated instances around VX that could probably be put into a separate package.

For example, [additionalProps in heatmap](https://github.com/hshoff/vx/blob/936d58ab684e65434d5332a5c9c479a36d86d376/packages/vx-heatmap/src/util/additionalProps.js) and [additionalProps in shape].

Is there any reason why these aren't in their own package?

[2017-06-19 08:04] jacek213 commented on #6
@hshoff is anyone working on this feature?

[2017-06-19 17:36] hshoff commented on #69
Just laziness at the moment. Good point, we should do this.

There's some more work I'd like to do with `additionalProps` so it's more explicit which props get passed on. And I might revisit the api for how data get's passed to thunks re: https://github.com/hshoff/vx/issues/50#issuecomment-306431147 but I haven't gotten to these two things just yet.

[2017-06-19 17:43] hshoff commented on #68
Hi @jharris4, thanks for checking out vx and true! This was bugging me for a while, but the fix should be out for the current https://vx-demo.now.sh/gallery

I believe you're looking at an older commit. I updated this a bit ago for the transparent area gradient: https://github.com/hshoff/vx/blob/master/packages/vx-demo/components/tiles/area.js#L50

Will definitely add `fromOpacity` + `toOpacity` t

[2017-06-19 17:47] hshoff commented on #56
As vx isn't a typescript project, we'd welcome a third-party typescript typings project! I could also see a `@vx/types` package being helpful. If someone would like to start this, I'd be happy to support.

[2017-06-20 13:26] jacek213 commented on #44
any progress on this one?

[2017-06-20 14:06] jacek213 opened #71 "Opacity-related attributes for svg objects"
SVG objects support properties such as:

* `fill-opacity`
* `stroke-opacity`
* `opacity`

Would be nice to support them - useful especially in transitions.

[2017-06-20 14:54] hshoff commented on #71
I need to do a consistency pass on `@vx/shape`. Likely will do the pass at the same time as https://github.com/hshoff/vx/issues/69. Here's how each shape should support all SVG attributes: https://github.com/hshoff/vx/blob/master/packages/vx-shape/src/shapes/Line.js#L28

A quick pass through `@vx/shape` shows it's just `<LinePath />` missing the rest props pass through.

I'll get this fixed in `v0

[2017-06-20 21:46] jacek213 commented on #71
Thanks for a quick reply, this solution looks solid :)

I think `circle` used inside `GlyphDot` should get the `restProps`: https://github.com/hshoff/vx/blob/master/packages/vx-glyph/src/glyphs/Dot.js

[2017-06-22 01:47] jockw opened #72 "the drag moudel is nothing"
Are there  any method to copy drag of d3 and used in vx?

[2017-06-22 03:24] Flaque commented on #72
This is coming <3

[2017-06-23 02:16] jockw opened #73 "how to use vx-brush"
i can see the source code of 'vx-brush',but i don't know how to use it，can you give a example?

[2017-06-23 02:22] hshoff commented on #73
I've got a proof of concept here: https://github.com/hshoff/vx/blob/master/packages/vx-demo/components/charts/BrushChart.js

![b_z](https://user-images.githubusercontent.com/339208/27464067-1c0720e2-5780-11e7-9ddd-bde9ee89c1af.gif)

I have a lot more work to do on `@vx/brush` to make it easier to work with, but feel free to play around with it in its current state. The api is likely to change.

[2017-06-23 02:25] hshoff commented on #72
Yup! It's in the works, but nothing is published just yet. Need to get `@vx/brush` `@vx/zoom` and `@vx/drag` all working nicely. Will have it done for v1, but focusing on `@vx/legend` at the moment.

[2017-06-23 02:33] jockw commented on #73
thank,i think it's very good thought about use d3 in react and don't operation DOM directly.

[2017-06-26 17:14] erikfox commented on #15
Is it safe to assume that this is a prerequisite to #44 ?

[2017-06-26 17:29] hshoff commented on #15
@erikfox yes, it would be if we want tooltips to be svg based.

I'm considering using a react portal outside the svg that would be div based, so we could just use event coords for positioning on on top of the svg. In that case, this wouldn't be a prereq to #44.

[2017-06-27 04:45] #71 closed

[2017-06-28 05:34] #65 closed

[2017-06-28 19:46] williaster commented on #6
@jacek213 I believe we're still toying with different possible implementations of this and trying to figure out how opinionated to make the vx support. One issue is that there's not really a great story for animations in general in `react`. If you have any thoughts feel free to share 💭

[2017-06-29 15:05] Ajdija opened #79 "Default consts are not exported"
Hi, i would like to be able to import constants like the default values in
https://github.com/hshoff/vx/blob/master/packages/vx-axis/src/axis/Axis.js

[2017-06-30 05:25] #79 closed

[2017-06-30 20:16] hshoff opened #83 "[gradient] add radial gradient"
we have `<LinearGradient />` need to add `<RadialGradient />`

[2017-06-30 20:42] #68 closed

[2017-06-30 20:43] hshoff commented on #68
fixed in https://github.com/hshoff/vx/pull/82

will track adding `RadialGradient` here https://github.com/hshoff/vx/issues/83

[2017-07-04 21:26] hshoff commented on #72
closing in favor of https://github.com/hshoff/vx/issues/8

[2017-07-04 21:26] #72 closed

[2017-07-05 04:54] #44 closed

[2017-07-05 15:29] Flaque commented on #44
🎉🎉🎉

[2017-07-05 16:36] williaster commented on #44
psyched to see this! 🎉 🏆

[2017-07-05 18:54] k3rmitt commented on #44
So 1337!

[2017-07-06 03:39] #83 closed

[2017-07-10 05:45] hueypeard opened #92 "Use classes rather than stateless functions in vx-shape, vx-group, etc, moving forward to allow refs?"
Hi, I've been integrating some data visualization into some important product pages for my business and I encountered an issue with integrating our existing tooltip solution into vx (which, by the way, is fantastic!).

We use refs to get the translated position of svg elements which we use to absolutely position tooltips outside of the svg element. Since vx-shape and vx-group all use stateless com

[2017-07-10 20:03] Flaque commented on #92
Hi! :D
Can you give an example of where you would need the ref to get the translated position of an element?

[2017-07-11 00:43] hueypeard commented on #92
Sorry for the elongated example, but I figured the context is necessary. The centroid argument on
 Arc's onMouseEnter is something I am submitting an issue about soon. groupArgs on Arc is another thing I am also submitting an issue about, and it simply allows the developer to supply additional arguments to supply to the Arc's containing group.

tl;dr onMouseEnter triggers setActiveData with the sc

[2017-07-11 02:23] hshoff commented on #92
Hi @hueypeard thanks for checking out vx and the helpful example code!

Here's an example of working tooltips on the centroid on mouseEnter/Leave that avoids the ref on the `<Arc />` and the `groupArgs` prop: https://www.webpackbin.com/bins/-KojHA8GeGMHfwdcwAIk

Things to note:
  - You can wrap your `<Arc />` in a `<g ref={g => this.mainGroup = g}>`
  - event handlers have a thunk style signature

[2017-07-12 01:55] Flaque opened #93 "[npm] What should we do about lockfiles?"
Right now it doesn't seem that there's any `package-lock.json` files in any of the packages. But the `lerna exec npm install` will create a lockfile in each package.

Npm claims that we should commit these. Is there any reason we haven't?

Could we either add them or add them to the .gitignore?

[2017-07-12 01:59] #69 closed

[2017-07-12 01:59] #73 closed

[2017-07-12 01:59] #25 closed

[2017-07-12 02:00] #20 closed

[2017-07-12 02:00] #55 closed

[2017-07-15 15:52] trainorpj commented on #9
Do you need help writing some of the documentation?  I could submit a PR for the [boxplots](https://github.com/hshoff/vx/tree/master/packages/vx-boxplot) docs, if nobody has that action.

I've been watching this project for a while, and I like it a lot.  I'm interested in helping out, if you'll have me!

[2017-07-15 15:59] Flaque commented on #9
Do it! :D

[2017-07-15 17:37] trainorpj opened #98 "Should quartiles in vx/boxplot be switched?"
[`vx/boxplot`](https://github.com/hshoff/vx/tree/master/packages/vx-boxplot) requires `firstQuartile` and `thirdQuartile` to render the boxplot.

From my understanding of summary statistics, the standard order of the values should be:

`min < firstQuartile < median < thirdQuartile < max`

Currently, `vx/boxplot` renders the box when:

`min < thirdQuartile < median < firstQuartile < max`

Should `v

[2017-07-17 03:02] thienanle opened #99 "Bug: LinePath doesn't connect if value is 0"
![image](https://user-images.githubusercontent.com/874402/28254435-3014c4a8-6af0-11e7-9137-c71900195d2f.png)

[2017-07-17 03:56] hshoff commented on #99
Hi @thienanle thanks for checking out vx!

<LinePath /> accepts a `defined` which is a function which defaults to `d => y(d) && x(d)`: https://github.com/hshoff/vx/blob/master/packages/vx-shape/src/shapes/LinePath.js#L27

If you pass in `defined={d => true}` it should work.

Maybe this is a bad default and we should match `d3` default of `() => true`: https://github.com/d3/d3-shape#line_defined

[2017-07-17 04:03] thienanle commented on #99
@hshoff thanks for the quick response, that works! Yes I'd agree matching D3's default would be better.

[2017-07-17 04:06] hshoff opened #100 "[shape] set LinePath defined prop default to () => true"
More info: https://github.com/hshoff/vx/issues/99

[2017-07-17 04:06] hshoff commented on #99
Will update it in the v0.0.131 release. Tracking here https://github.com/hshoff/vx/issues/100

[2017-07-17 04:06] #99 closed

[2017-07-17 04:37] hshoff commented on #98
Hi @trainorpj thanks for checking out vx and for the helpful example code!

Here's an updated take on your example: https://codesandbox.io/s/v25Vm3Q15

<img width="371" alt="screen shot 2017-07-16 at 9 28 41 pm" src="https://user-images.githubusercontent.com/339208/28255593-d00951e6-6a6d-11e7-91a3-0b7196d5f231.png">

`@vx/boxplot` expects the y axis to increase in value pointing up, which means it

[2017-07-17 08:21] thienanle commented on #44
@hshoff does this work with `LinePath`/`AreaClosed`?

[2017-07-17 11:34] trainorpj commented on #98
Thanks @hshoff for taking the time to respond! This makes a lot of sense, especially if you're making reusable charts with svg-coordinates in mind :grin:

[2017-07-17 13:18] #98 closed

[2017-07-17 13:24] hshoff commented on #100
fixed in: https://github.com/hshoff/vx/pull/101

[2017-07-17 13:24] #100 closed

[2017-07-17 13:59] #92 closed

[2017-07-17 14:00] hshoff commented on #92
Added `centroid` to the event handler data here: https://github.com/hshoff/vx/pull/101

[2017-07-17 18:32] hshoff commented on #44
@thienanle it does but it's a bit more involved. I'm working on making this easier for folks, but haven't settled on an api I'm happy with just yet.

Here's an example of how it works: https://www.webpackbin.com/bins/-KpGjCM5yQ4nkND4c-P-

![area-tooltip-demo](https://user-images.githubusercontent.com/339208/28283302-3b3c58f4-6ae2-11e7-9cf2-215faf4a4611.gif)

Things to note:

1. use a stateful reac

[2017-07-17 23:45] williaster commented on #9
closed @trainorpj by https://github.com/hshoff/vx/pull/102

[2017-07-17 23:45] williaster commented on #9
🙈 didn't mean to close the entire issue

[2017-07-18 20:02] hshoff commented on #6
## Research

Current react animation landscape:

- [react-transition-group](https://github.com/reactjs/react-transition-group)
- [react-motion](https://github.com/chenglou/react-motion)
- [react-move](https://github.com/tannerlinsley/react-move)
- [data-driven-motion](https://github.com/tkh44/data-driven-motion)
- [velocity-react](https://github.com/twitter-fabric/velocity-react)

## Open question

[2017-07-18 20:09] denkristoffer commented on #6
Dont forget https://github.com/animatedjs/animated 🙂

[2017-07-18 20:56] jacek213 commented on #6
I've animated vx components with pure d3 transitions hooked up on `componentDidMount`... however that's probably not the proper way you'd want people to use transitions in vx 😆

[2017-07-18 23:15] sghall commented on #6
I've been working on a more "d3" like interface for animations in React as well...

[Resonance](https://github.com/sghall/resonance) - Github
[NodeGroup](https://sghall.github.io/resonance/#/documentation/node-group) -Documentation
[Animated Bar Chart](https://sghall.github.io/resonance/#/redux-examples/states-by-age) - Example

It's a WIP.  I do like the approach vx is taking to SVG components.

[2017-07-18 23:39] thienanle commented on #44
@hshoff thank you for the example, super helpful!

Yes it would be great to not have to use a transparent `<Bar />` and have the mouse events on the `<AreaClosed />` instead. Thanks for your work on this!

I was also thinking, in the case where a chart has more than 1 series (multiple `<LinePath />` components for example), would it make sense to put the mouse events on each? Perhaps on a wrapping

[2017-07-19 00:11] hshoff commented on #44
@thienanle yup! you can put the events on the `<AreaClosed />` as of `@vx/shape@0.0.131`

Example: https://www.webpackbin.com/bins/-KpN6KNn40htehDwd80C
![path-events](https://user-images.githubusercontent.com/339208/28344763-94833a1a-6bda-11e7-9205-eeb156842015.gif)

For multiple `<LinePath />`s it depends what you're trying to do, you could put them on each or you could put it on a `<Group />` li

[2017-07-24 07:24] thienanle commented on #44
@hshoff have you tested this on `<Arc />`? I love the feature of getting the hovered arc section data `onMouseMove`, but I'm getting an error

[code]

[2017-07-24 16:27] hshoff commented on #44
@thienanle could you post your `onMouseMove` function? happy to take a look.

[2017-07-24 23:41] thienanle commented on #44
[code]

Calling `showTooltip` is what seems to cause the warning.

[2017-07-25 00:54] donpinkus opened #107 "Change an Axis's label font-size"
How can you change an Axis's label font-size?

According to the docs (https://github.com/hshoff/vx/tree/master/packages/vx-axis), the "label" attribute is a string value.

When the label is rendered, the `<text>` element has several attributes that I haven't specified:

**Code to produce the Axis:**
[code]
(as an aside, tickLabelComponent isn't mentioned in Axis's docs either, I just saw it in an

[2017-07-25 01:40] williaster commented on #107
Hey @donpinkus, thanks for using @vx and clarifying this. You're right that the doc's aren't as clear as they could be for the various `Axis*` components.

In actuality the `label` prop may be _either_ a string or a component. If it's a string we wrap it in a default `<text />` element with some pre-defined attributes, the ones you're pointing out above (see [this line](https://github.com/hshoff/v

[2017-07-25 02:04] donpinkus commented on #107
Thanks!

Trying now, will post updated code (to serve as a reference until docs are updated) then will close.

[2017-07-25 05:29] williaster commented on #107
thanks :) If in doing so you have thoughts / comments on the api let us know. I've thought about:

0) keep it as is with different behavior for a string vs a component.

1) we could make this more clear by adopting the `labelComponent` prop name of the lower-level `Axis` component that `AxisTop/Right/BottomLeft` wrap. that means if you pass a string we render is as-is and makes it harder to simply

[2017-07-26 03:24] thienanle commented on #44
I solved my issue by calling `showTooltip` on `onMouseMove` on `<Group />` and setting `tooltipData` to my component's state (so that I can get the data for the hovered pie).

[code]

But it would be nice to not have to do this!

[2017-07-29 20:10] hshoff commented on #107
any luck here @donpinkus?

[2017-07-31 00:30] hshoff commented on #41
https://github.com/chengyin/react-primitives-svg

[2017-08-02 11:19] kvz opened #112 "Error: <line> attribute y2: Expected length, "NaN"."
Hi, love how this project looks and can't wait to get this going!

Question, I'm trying this demo now myself now first: https://vx-demo.now.sh/areas

And I'm running into  `Error: <line> attribute y2: Expected length, "NaN".`

Full trace:

[code]

I'm wondering what it could be? I'm using the latest of all dependencies:

[code]

And I just copy-pasted the example, which I believe includes the mock

[2017-08-02 12:12] kvz commented on #112
So it turns out I just had to  also specify a margin `top` & `bottom` 😄 Sorry for the noise everyone, but perhaps this will help a future googling newcomer 👍

[2017-08-02 12:12] #112 closed

[2017-08-02 17:23] donpinkus commented on #107
Hey I'll have a chance to try this out today, will let you know :)

[2017-08-02 18:11] hshoff commented on #41
https://github.com/godaddy/svgs

[2017-08-04 19:08] hshoff commented on #64
Progress here: https://github.com/hshoff/vx/pull/113 will be available in `v0.0.135`

[2017-08-09 19:00] chrisdrackett opened #115 "support for interpolation"
I wonder if it is currently possible to create a stepped area / line chart (interpolation  value of `step-before` / `step-after`) using VX. If not, might be a nice addition!

[2017-08-09 19:25] williaster commented on #115
Hey @chrisdrackett, thanks for your interest in vx!

This _is_ already possible with vx using the `@vx/curve` package, which exports all of the standard d3 interpolators including `curveStep`, `curveStepBefore`, and `curveStepAfter`. You simply pass one of the interpolators (or even roll your own if you like) as the `curve` prop to e.g., the `<LinePath />` or `<AreaClosed />` components from `@vx/

[2017-08-09 19:25] #115 closed

[2017-08-11 03:23] andyfangdz commented on #93
Whether lockfiles make sense for libraries is debatable, but npm seems pretty opinioned on this -- according to the manual they cannot be published. Therefore, we could safely ignore them.

https://github.com/npm/npm/blob/v5.0.0/doc/files/package-lock.json.md

[2017-08-11 03:25] Flaque commented on #93
Cool, do we want to add them to the git ignore then?

[2017-08-11 03:26] andyfangdz commented on #93
I'm cautiously positive that they can be ignored.

/cc @hshoff

[2017-08-12 16:15] Flaque opened #117 "[network] @vx/network has not been published to the npm registry"
It looks like `@vx/network` is not yet published on npm. [See here](https://www.npmjs.com/search?q=@vx/network&page=1&ranking=optimal). Or just try `npm install @vx/network`:

<img width="1050" alt="screen shot 2017-08-12 at 9 15 03 am" src="https://user-images.githubusercontent.com/5942769/29242276-c0107874-7f3e-11e7-853c-f1a93276800a.PNG">

[2017-08-14 20:26] hshoff commented on #117
Sorry about that! I've been away on vacation. Just published.

[2017-08-14 20:26] #117 closed

[2017-08-16 07:03] andyfangdz commented on #56
@hshoff Can you assign me to this because I kind of need this :p

[2017-08-16 09:47] victorias commented on #56
I'd like to help out with this and contribute flow typings.

[2017-08-16 14:24] hshoff commented on #107
Going to close this. Feel free to reopen if you run into any issues.

[2017-08-16 14:24] #107 closed

[2017-08-16 14:27] hshoff commented on #93
@ljharb any thoughts on how libraries should treat `package-lock.json`?

[2017-08-16 14:28] hshoff commented on #64
Closing because we published `@vx/network` with `<Graph />, <Node />, and <Link />` in `v0.0.135`. Additional features/requests for graphs should go in a new issue for us to track.

[2017-08-16 14:28] #64 closed

[2017-08-16 17:14] hshoff commented on #56
@andyfangdz @victorias wonderful! let me know if there's anything I can do to help

[2017-08-16 19:09] kandros commented on #1
Hi, I would like to dig into this, is there a "must have" checklist to consider?

[2017-08-16 20:11] matthax opened #123 "[question] interacting with data from a stream"
I understand this project is a relatively new undertaking, but I was curious about some future features, and the end goal of vx, specifically around the idea of processing and graphing live data.

D3 exposes a number of mechanisms that make it, relatively, easy to handle data from a stream. Obviously here these mechanisms are somewhat hidden, due to the nature of these components. Is there a plan

[2017-08-16 20:12] kandros opened #124 "sync demo with documentation"
I noticed  the documentation website misses some components and some are outdated
May I suggest to execute script to generate docs in CI?

I'm looking for others missing

[2017-08-16 20:17] ljharb commented on #93
@hshoff Only apps should have lockfiles. Libs/packages should add `package-lock=false` to `.npmrc`, and gitignore `package-lock.json`, `npm-shrinkwrap.json`, and `yarn.lock`, full stop.

[2017-08-16 20:35] hshoff commented on #93
@ljharb makes sense thank you!

[2017-08-16 20:38] #124 closed

[2017-08-16 20:42] kandros opened #126 "missing documentions"
These are the packages with missing documentation

- [ ] brush
- [ ] clip-path
- [ ] brush
- [ ] drag
- [ ] event
- [ ] hierarchy
- [ ] responsive
- [ ] tooltip
- [ ] zoom

[2017-08-16 20:44] kandros opened #127 "build docs on CI"
To avoid docs and packages readmes being out of sync  we should consider build the docs during the CI step.

use case:
- typos PRs using github's web editor
- docs not generated after a modification

[2017-08-16 20:46] #126 closed

[2017-08-16 20:46] kandros commented on #9
These are the packages with missing documentation

- [ ] brush
- [ ] clip-path
- [ ] brush
- [ ] drag
- [ ] event
- [ ] hierarchy
- [ ] responsive
- [ ] tooltip
- [ ] zoom

[2017-08-16 20:48] trainorpj commented on #9
I wrote the docs for the boxplot component, and I'm happy to contribute to other utilities/components

(I was a bit swamped before, but I have some time now)

[2017-08-16 21:01] kandros opened #128 "add linting"
Well it sound funny that a project from `Airbnb JavaScript Style Guide creator` doesn't have linting :)

In italy we have a saying

 a reminder that those who carry out a particular profession take care of their clients needs but neglect their own

@hshoff can i proceed adding eslint using airbnb rules?

[2017-08-16 21:02] kandros commented on #128
reference #10

[2017-08-16 21:18] williaster commented on #128
hey @kandros, thanks for bringing this up.

we went pretty far down this path already (see discussion [here](https://github.com/hshoff/vx/pull/97#issuecomment-316122706)) and at that time decided that the time wasn't ripe for linting just yet. I believe the plan was to do this sometime around the 1.0 release which we're getting closer to, @hshoff any additional thoughts?

[2017-08-16 22:22] #93 closed

[2017-08-17 21:07] hshoff commented on #128
haha yup! we'll add this with v1 release. It's a bit much for right now. Discussion here: https://github.com/hshoff/vx/pull/97#issuecomment-316122706 is still the plan.

[2017-08-18 07:50] denkristoffer opened #130 "@vx/bounds: Shouldn't react-dom be a peer dependency?"
**tl;dr:** Shouldn't `react-dom` be a peer dependency instead of a dependency in `@vx/bounds`? 😄

I'm building a histogram on a site deployed with [Netlify](https://netlify.com) but their build log is complaining about the following:

`Module not found: Error: Can't resolve 'react/lib/React' in '/opt/build/repo/packages/website/node_modules/@vx/bounds/node_modules/react-dom/lib'`

I've been trying

[2017-08-18 13:12] #123 closed

[2017-08-18 16:08] #33 closed

[2017-08-18 16:10] hshoff commented on #130
Sorry about that @denkristoffer! will fix with v0.0.137

[2017-08-18 16:17] #130 closed

[2017-08-18 16:49] hshoff commented on #123
Hi @matthax thanks for checking out vx. vx will remain unopinionated about this for now. Since vx is just react there are many different approaches, assumptions, and trade-offs. Should able to wrap vx components in your own and turn them into stream-based components. Would love to see additional libraries made that would make this easier for folks.

[2017-08-18 17:41] hshoff commented on #54
To lower the friction to get started with vx, there is now `@vx/vx`

[code]

[code]

[2017-08-25 08:08] hentrymartin opened #134 "Is there a way to add box shadow in Arc??"
I want to add Box shadow to each arc. is it possible?? Following is my code
`
     <svg
      width={width}
      height={height}>
        <Group
          top={height / 2 + margin.top}
          left={width / 2}>
          <Arc
            data={data}
            pieValue={d => d.value}
            outerRadius={radius - 12}
            innerRadius={radius - 20}
            fill={d => d.data.fill}

[2017-08-25 15:33] hshoff commented on #134
Hi @hentrymartin, thanks for checking out vx!

Yes it's possible. Since it's svg you do it a bit differently than using good old `box-shadow`.
Example: https://www.webpackbin.com/bins/-KsOz0YXrjkwZhdvuwr7

[code]

more info on svg filters: https://www.w3.org/Graphics/SVG/IG/resources/svgprimer.html#filters

[2017-08-25 15:33] #134 closed

[2017-08-28 13:34] sa-mm opened #135 "@vx/responsive in Safari desktop (10.1.2)"
Just a quick note that responsive SVGs don't appear to be responsive on the desktop version of Safari.

See second chart on [this page](https://sassy-sponge.surge.sh). Code [here](https://github.com/sa-mm/vx/blob/master/fcc_bar_chart/components/area_chart.js).

I think the desktop version of Safari has problems with responsive SVGs in general, but I could be wrong.

[2017-08-28 15:35] hshoff commented on #135
Hi @sa-mm, thanks for checking out vx!

I'd recommend using `withParentSize()` from `@vx/responsive` over `<ScaleSvg />`.

[code]

[2017-08-29 14:15] sa-mm commented on #135
Thanks! I’ll give that a shot.

[2017-08-30 05:24] monsonjeremy commented on #6
I think one good way of doing this would be using D3 transition functions to create interpolators which can be used to incrementally update the state of the data over a given transition duration.

The downside to this is that it does put a constraint on how the data is formatted and how it is passed around. I also am not sure about performance for larger data sets or multiple components.

I have s

[2017-08-30 06:06] #135 closed

[2017-09-01 15:43] Fxlr8 commented on #14
I can help with implementation, I need this feature in my project

[2017-09-04 08:48] woaiwodib107 opened #137 "About transition or motion"
How to use some functions like transition, delay, duration which in d3.js.
I find [nivo](https://github.com/plouc/nivo) use react-motion.
Could I use other libraries like [react-motion](https://github.com/chenglou/react-motion),
[react-move](react-tools/react-move), [react-transition-group](https://github.com/reactjs/react-transition-group) combine with this library

[2017-09-04 14:32] Fxlr8 opened #138 "Axis tick text styles don't apply"
Found this when | tried to style a chart
`tickTextFill` and `tickTextFontFamily` doesn't change anything

UPD: Just looked at axis source code, these props are missing. Are the docs outdated or these props are not implemented yet?

[2017-09-04 16:49] hshoff commented on #137
Hi @woaiwodib107, thanks for checking out vx!

Yes, you could use any of libraries you listed to add animation/transitions to your charts. vx is unopinionated about which library you use. No need to increase bundle sizes just so vx can roll its own animation lib.

For more info about the story of animation in vx check out: https://github.com/hshoff/vx/issues/6#issuecomment-316180664

[2017-09-04 16:49] #137 closed

[2017-09-04 16:59] hshoff commented on #138
Hi @Fxlr8, thanks for checking out vx!

Apologies, yes the docs are outdated for this. Sorry for the frustrations. We'll have stable docs for `v1`.

For now, the way you accomplish custom tick labels is you pass in a `tickLabelComponent` that will wrap each tick label.

Example:

[code]
from: https://viewsource.now.sh/ethereum
source: https://github.com/hshoff/viewsource/blob/master/components/eth

[2017-09-04 17:54] Fxlr8 commented on #138
Thanks, @hshoff, by the way, how about adding an ability to pass className prop for every structural element of the chart like (ex. for Axis) line, tick, label? Here are two main reasons why you should think about it:
1. css styles are faster than inline ones

[2017-09-04 21:41] trainorpj opened #139 "update to vx/hierarchy"
This is in reference to #136, which concerns the `<Tree />` and `<Cluster />` components.  [Links to components for convenience](https://github.com/hshoff/vx/tree/master/packages/vx-hierarchy/src/hierarchies).

@hshoff addressed these concerns, but I wanted to list them here so we don't lose track of them.  These apply to both components.

1. `className` is passed as a prop, but is never used in t

[2017-09-05 00:33] trainorpj commented on #9
I just hacked together a little site we can use to keep track of progress on the docs:

[https://trainorpj.github.io/vx-docs-progress/](https://trainorpj.github.io/vx-docs-progress/)

I figured there are so many packages/components it'd be nice to keep track of things at a high level.

[Link to the repo](https://github.com/trainorpj/vx-docs-progress/blob/master/README.md). Feel free to make change

[2017-09-05 01:28] dylanmoz opened #140 "Add innerRef prop to components"
It would be nice to be able to get the underlying ref node for some of the components. For example, for this [line chart](http://dylanmoz.github.io/trello/) I made, I needed to modify `@vx/shape`'s LinePath to take an `innerRef` prop that would then assign it to the path element's `ref`. This way I could gain access to the svg path element, and glean some data from it (`path.getTotalLength()` and

[2017-09-05 04:26] hshoff commented on #9
Very helpful, thank @trainorpj! I'm hoping for all green by v1

[2017-09-06 00:28] gkunthara opened #141 "@vx/responsive withParentSize height issue"
Fairly new to React, (first time writing an issue on github) but am really like vx so far. I am having issues with responsive height for my graph. I have set up `parentHeight` and `parentWidth` the exact same way as outlined from examples. When running my program, the width of my graph is perfectly responsive to the size of the browser screen. However, I am getting some really weird numbers for `p

[2017-09-06 16:56] hshoff commented on #141
Hi @gkunthara, thanks for checking out vx!

Looks like the chart's `height` is being calculated based on `parentWidth * aspectRatio` https://github.com/gkunthara/Ethereum-Chart/blob/master/src/App.js#L82. This would mean your height would change even though the `parentHeight` has not changed. Could try changing `height` to be `parentHeight * aspectRatio` and tune the aspect ratio value to somethin

[2017-09-06 18:56] gkunthara commented on #141
Thanks for the response.

I changed `parentHeight` to be `parentWidth * aspectRatio`. (saw this on a different vx project that seemed to work fine). I've changed it back to `height = parentHeight` [here](https://github.com/gkunthara/Ethereum-Chart/blob/responsive/src/App.js) where I am having the issue stated above. If you can, please take a look and let me know if I am doing something wrong.

App

[2017-09-06 19:17] williaster commented on #141
@gkunthara I was able to get you code to work by specifying a height on the chart container, see `index.html` here https://www.webpackbin.com/bins/-KtNbQgFpO3bTNCcrFqv.

Without some type of `height` set on the parent container, the `parentHeight` will likely be 0 which I believe is what you're seeing.

[2017-09-08 01:15] hshoff commented on #141
Hi @gkunthara, just checking in on this, were you able to get this sorted out?

[2017-09-08 18:23] gkunthara commented on #141
Yes, @williaster's solution worked for me! Thanks!

[2017-09-08 18:23] #141 closed

[2017-09-10 00:20] dylanmoz opened #143 "Add module support for tree shaking"
Add support for the `"module"` field in package.json so that webpack/rollup can do proper tree shaking. If you use @vx currently with Rollup, you will get an error by default due to the only availability being commonjs that it cannot understand, so you have to add all the exports of each sub-library of @vx explicitly in rollup.config.js:

https://github.com/rollup/rollup-plugin-commonjs#custom-nam

[2017-09-10 20:22] hshoff commented on #143
Ah yes, i've been putting off getting this going. I'll take a swing at this soon. Will definitely have it sorted out by v1.0.0.

[2017-09-10 20:24] hshoff commented on #140
yup will make refs opt-in

[2017-09-12 16:53] ljharb commented on #143
The "module" field is nonstandard and should not be used.

"Proper tree-shaking" should not, and does not, require ES Modules; it can work equally well with (static, top-level) CJS - although popular bundlers may not have chosen to build support for that yet.

Using deep paths is always the best practice.

Separately, if you want to follow the actual thing that node will be doing (which is what th

[2017-09-13 01:10] #139 closed

[2017-09-13 13:54] colinhiggins commented on #41
Hi @hshoff, this looks like an awesome package, and if @williaster is involved, I'm sure its the next great thing. I'd love to use this on a project I'm kicking off at work, but we have a strong need to support mobile. I'm wondering where this issue falls on your roadmap. I also wonder if this is the only issue that prevents use of vx on mobile (i.e. is there further support needed for touch inste

[2017-09-13 14:22] techniq commented on #16
I originally [created](https://github.com/recharts/recharts/pull/243) something like this for the recharts library (original [issue](https://github.com/recharts/recharts/issues/198)) but recently decided to extract it out into it's own repo/library as [react-svg-text](https://github.com/techniq/react-svg-text) mostly because I saw vx's `TextWrap` with it's TODO.

I haven't started using vx myself

[2017-09-13 15:33] hshoff commented on #41
Hi @colinhiggins, thanks for checking out vx!

Are you looking to use vx on mobile web or in an iOS/Android app? If mobile web, you should be fine to start using vx. iOS/Android app support should be coming in the future.

[2017-09-13 15:35] hshoff commented on #16
@techniq very nice! great work

[2017-09-13 18:22] colinhiggins commented on #41
An iOS/Android app. Probably iOS first. We could try to render a webview in the app I suppose, but ideally we wouldn't have to resort to that.

[2017-09-13 21:02] hshoff commented on #41
@colinhiggins gotcha, vx doesn't support those platforms yet.

[2017-09-13 21:29] hshoff commented on #138
fixed in https://github.com/hshoff/vx/pull/142

[2017-09-13 21:29] #138 closed

[2017-09-14 15:36] sa-mm opened #149 "Axis tick text transforms"
Are we able to perform transforms on the axis tick text? Also, is this the best spot for these sorts of questions or should I take it to stack overflow?

[2017-09-14 16:42] sa-mm commented on #149
After looking at [this example](https://vx-demo.now.sh/axis), I put something together:

[code]

I thought that with d3, you only had to pass in `.attr("transform", "rotate(90)")`, so this was a little different.

Is there a better way to accomplish this?

[2017-09-14 17:08] hshoff commented on #149
You could also write it like so:

[code]

but yes that's the best way for now.

To match d3 behavior we'll need to move the x/y position of the tick labels to a translate transform on the `<g>` surrounding the tick line and the tick label. Then it will rotate around the correct point without have to pass the optional `x,y` args to `rotate()`

[2017-09-14 17:08] hshoff commented on #149
@williaster any thoughts here?

[2017-09-14 20:42] chrisdrackett commented on #6
https://popmotion.io as well ;)

they also maintain https://github.com/Popmotion/framesync which maybe could be used to support the transitions that @monsonjeremy mentions above? I've never animated anything in D3 so I basically don't know what I'm talking about :)

[2017-09-14 22:34] sghall commented on #6
Looping back around on this.  Since my last comment [resonance](https://github.com/sghall/resonance) and [react-move](https://github.com/react-tools/react-move) have combined forces.  React-move 2.0 is fundamentally just a way to wire up D3 style transitions in react like is mentioned in this thread.

The more difficult/interesting question has turned out how to make this into a understandable API

[2017-09-15 12:30] blaze33 opened #150 "Style attributes shouldn't be repeated in an html tag"
like here: https://github.com/hshoff/vx/blob/d69c3eba1537dd4f6083400ce3997f7904442c14/packages/vx-legend/src/legends/Legend.js#L60

The behavior is undefined, see https://stackoverflow.com/a/28867244/343834

In my test case, provided styles aren't used.

[2017-09-15 15:15] hshoff commented on #150
Good catch, that's a bug. I will fix.

[2017-09-18 18:17] #150 closed

[2017-09-18 20:25] williaster commented on #149
sorry for the delay, was on vacation 🌴  last week.

I agree that having to specify the `x,y` args to `rotate()` isn't ideal. I think the solution you proposed to move the `x,y` position from the tick label `<line>` +`<text>` elements to their parent `<g>` should work well, and then you can simplify the `textLabelProps` logic a bit. Will require a bit of refactoring but shouldn't be too difficult 👍

[2017-09-21 13:59] denkristoffer opened #154 "React 16: Error: Can't resolve 'react/lib/React' in '/node_modules/@vx/bounds/node_modules/react-dom/lib'"
I'm on version 16.0.0-rc.3 of React and ReactDOM, and get the following error from the bounds package when I try to build on [Netlify](https://netlify.com):

`Module not found: Error: Can't resolve 'react/lib/React' in '/opt/build/repo/packages/website/node_modules/@vx/bounds/node_modules/react-dom/lib'`

I'm struggling to figure out what exactly triggers this error, but my best guess so far is th

[2017-09-21 14:50] hshoff commented on #154
Oh yes, you're a bit ahead of me. I need to add react 16 support. I'll add this in `v140` hopefully today. Mind using `react` & `react-dom` 15+ until I get the fix out?

[2017-09-21 21:44] #154 closed

[2017-09-21 23:41] elisechant opened #156 "Question regarding Status"
Regarding https://github.com/hshoff/vx#status - in particular: "Hold off on using this in production until I shake out some of the bigger API problems".

Can you explain what this really means? Are you planning to do breaking refactoring changes?

And then, what do you think the timeline to 1.0.0 will look like?

If I can help you get there faster, I'd be happy to.

[2017-09-22 00:32] hshoff commented on #156
Hi @elisechant, thanks for checking out vx and sure, happy to explain!

So we currently use vx in production at Airbnb. That's because we know and accept the risks that we might make some breaking api changes before v1. Also we want to make sure we can confidently say vx is production ready when we make the v1 announcement.

We don't currently have any breaking changes planned between now (v0.0.14

[2017-09-22 08:09] elisechant commented on #156
Ok cool, all makes sense. Thanks very much @hshoff.

[2017-09-24 18:08] alexsinfarosa opened #157 "LegendThreshold not displaying first color"
Hi,

The first color of the legend is not displayed, while the last one is displayed twice.
Thanks.

[2017-09-24 20:02] hshoff commented on #157
Thanks for the bug report @alexsinfarosa! Will get this fixed in the next release.

[2017-09-25 05:56] geekplux opened #159 "Add Radar chart example"
I implemented a Radar with vx, it may useful for others who want to try vx if put it on Gallery. I can create a PR to do this.

[2017-09-25 06:52] benjick commented on #159
@geekplux Was just coming here to ask for it

[2017-09-25 07:33] geekplux commented on #159
just avoid duplicated effort

[2017-09-25 14:08] hshoff commented on #159
Awesome! Gallery contributions are always welcome.

[2017-09-26 10:51] bianchimro opened #160 "Allow custom component for axis label"
I have an use case where I should wrap the actual text for the label of `Axis` component from `@vx/axis` in a different component, something like:

[code]

We could either have a "smarter" label prop on the component (that checks if the passed value is a string or a node) or either pass a different prop (for example "labelComponent" to delegate label rendering)

[2017-09-26 16:40] hshoff commented on #160
Ah yes, we had just removed this in https://github.com/hshoff/vx/pull/142 we will add it back, that's a great use case.

[2017-09-26 21:36] bianchimro commented on #160
Hi @hshoff and thanks a lot for your quick response and for your great lib.

I noticed that also `tickLabelComponent` was dropped in the same PR.

Another possible use case that comes to my mind is tooltips. I am using https://github.com/kuy/redux-tooltip that makes it super-easy to trigger a tooltip on any element by wrapping in an `<Origin/>` component. Something like this:

[code]

This strateg

[2017-10-01 16:36] techniq commented on #16
@hshoff I release `react-svg-text` today - https://www.npmjs.com/package/react-svg-text.

I need to come up with a better testing strategy (see TODO section on README about jsdom / jest).  I also haven't done much through manually testing so hopefully I didn't miss anything to glaring.

Anyways, feel free to integrate this into `vx` as you see fit, and if you come across anything you need, feel fr

[2017-10-02 14:50] techniq commented on #16
fyi - I fired up a quick codepen and noticed I had forgot to add the `main` entry point in `package.json`.  I fixed this and pushed out `0.1.1`

[2017-10-02 16:35] hshoff commented on #16
Awesome! thanks for this @techniq!

[2017-10-03 00:09] techniq commented on #16
Very welcome. Thank you for vx :)

[2017-10-03 17:03] techniq opened #162 "Collapsible tree example"
I derived a simple example from https://vx-demo.now.sh/trees available here: https://codesandbox.io/s/n3w687vmqj

I'm not overly happy with the `forceUpdate()` and would like to have it animate similar to https://bl.ocks.org/mbostock/4339083, but it's a start

[2017-10-05 02:03] techniq commented on #162
@sghall - any tips on how to use react-move to produce something similar to https://bl.ocks.org/mbostock/4339083?

[2017-10-05 02:29] techniq commented on #162
@hshoff / @sghall - It seems like to be able to make this work we would need to be able to add a `<NodeGroup />` [here](https://github.com/hshoff/vx/blob/master/packages/vx-hierarchy/src/hierarchies/Tree.js#L28-L45)

Maybe if `<Tree/>` / `<Cluster/>` receives a children function, we call it instead?  Such as:

[code]

[2017-10-05 02:42] hshoff commented on #162
@techniq yup that’s a great solution. I’ve been busy with interactions, will get to this when i can. Happy to a review a PR if anyone wants to take a swing at this.

[2017-10-05 02:58] techniq commented on #162
@hshoff No promises, but I'll see if I can get a PR pushed up soonish (should be fairly trivial) but currently this is me just kicking around vx so my other tasks have higher priority.

Seems we would want the same with [vx-network](https://github.com/hshoff/vx/tree/master/packages/vx-network) and maybe other layouts.  I've only recently been getting into d3 beyond the basics so I'm not aware of a

[2017-10-05 03:01] techniq commented on #162
Also, just leaving this for later reference, but it would be nice if the `<Tree />` example could, along with being collapsible, show how to reveal a node, similar to [Search Collapsible Tree](https://bl.ocks.org/jjzieve/a743242f46321491a950)

[2017-10-05 03:49] sghall commented on #162
Hey.  Off the top of my head,  I'd say it's two NodeGroups for nodes and links.  Do the links first so the nodes are on top in the SVG...something like...

[code]
He's doing some magic here with stashing the last layout and using the "diagonal" path generator to get those nice curved lines.  You can pass a custom interpolator to react-move to handle that.

This flubber example is using a custom in

[2017-10-05 04:00] techniq commented on #162
Thanks @sghall.  I have the expand/collapse working currently in this [codesandbox](https://codesandbox.io/s/n3w687vmqj) and was looking to moving to the next step of animating.

Once I or @hshoff get the child function in place I'll take a stab at the transition but maybe ping you with a WIP codesandbox if I get stuck (especially the the interpolation)?

Looking at the d3 example (linked in the f

[2017-10-05 04:08] techniq commented on #162
Actually `d3.svg.diagonal()` was replaced in d3 v4 with [linkVertical](https://github.com/d3/d3-shape/blob/master/README.md#linkVertical) (or horizontal/radial) and is what vx's [LinkVertical](https://github.com/hshoff/vx/blob/master/packages/vx-shape/src/shapes/LinkVertical.js) uses

[2017-10-05 21:22] hshoff commented on #160
closing in favor of https://github.com/hshoff/vx/pull/165

[2017-10-05 21:22] #160 closed

[2017-10-05 21:23] hshoff commented on #149
closing in favor of https://github.com/hshoff/vx/pull/165

[2017-10-05 21:23] #149 closed

[2017-10-06 05:00] techniq commented on #162
@hshoff @sghall I've made some progress using react-move to animate the expand/collapse animations of a `<Tree />` after the render prop was exposed (thanks again @hshoff )

![vx_tree_react_move](https://user-images.githubusercontent.com/177476/31263294-4f80c87c-aa2f-11e7-9ecf-94bbe0659e8f.gif)

There is still some work to do:
- Animate the links (source, target)
- Investigate using `d3.linkVertic

[2017-10-06 17:21] hshoff commented on #162
awesome!

[2017-10-06 17:35] #157 closed

[2017-10-06 21:16] #15 closed

[2017-10-06 22:16] hshoff commented on #162
just published v0.0.141 [changelog](https://github.com/hshoff/vx/blob/master/CHANGELOG.md#v00141)

[2017-10-06 22:44] hshoff commented on #1
Seems like this is fine. No reports of problems so far. Going to close for now. Feel free to open a new issue if you run into problems with vx and ssr.

[2017-10-06 22:44] #1 closed

[2017-10-06 22:49] hshoff commented on #6
Seeing as there are many existing animation solutions out there in react-land, it seems best to defer to user choice rather than add another animation lib to the mix. This makes sense since vx should feel at home in any react app and you/your org might have already selected a react animation library so there would be no need to add another to the mix.

Happy to continue the discussion if you run i

[2017-10-06 22:49] #6 closed

[2017-10-07 04:02] erikamjoh commented on #56
Any updates on the status of typings for vx? @andyfangdz @victorias @hshoff

[2017-10-07 06:19] #140 closed

[2017-10-07 16:58] hshoff opened #170 "[scale] make scales immutable"

[2017-10-08 18:53] techniq commented on #162
Some progress animating links and nodes now collapse to closing parent/grandparent/etc (not just the parent).  I've updated my [codesandbox](https://codesandbox.io/s/n3w687vmqj) with these changes if you want to take a look at the code.

![vx_tree_react_move_20171008](https://user-images.githubusercontent.com/177476/31319639-336ec712-ac35-11e7-9cee-99c10ede1ef4.gif)

## A few items still needing a

[2017-10-08 18:58] techniq commented on #6
It would be nice to provide examples of using different libraries but this may be too much to put on the official [gallery](https://vx-demo.now.sh/gallery) or show bias/recommendation for a specific library, but maybe not?

Maybe just a bulleted list in the README or on the gallery page with links to some codesandbox examples, kind of like how downshift handles this?

[2017-10-09 21:14] techniq commented on #162
I created a [radial tree example](https://codesandbox.io/s/n3w687vmqj) derived from the cartesian layout version and based on the Radial Tidy Tree [d3 example](https://bl.ocks.org/mbostock/4063550)

![vx_tree_react_move_20171009_radial_example](https://user-images.githubusercontent.com/177476/31357173-a6675fc0-ad0e-11e7-93f9-8ee5eba32960.gif)

The only changes needed to support this layout was to:

[2017-10-09 21:29] hshoff commented on #162
@techniq nice! i added a link to your example to the `in the wild` section of the readme here: https://github.com/hshoff/vx/commit/ee2da22fdb246060b0536771330b599e5b339aa9

(looks like your radial example link goes to the same place as the cartesian example, happy to add that as well once you have an updated link)

[2017-10-09 21:47] techniq commented on #162
Oops, link fixed above (and thanks)

Btw, if you or @sghall (probably more likely) have any ideas on the transition quirks, I'm all ears as I'm a bit stumped at the moment.

[2017-10-11 18:55] jeremejevs commented on #6
You should remove animations and transitions from the roadmap.

[2017-10-11 19:02] hshoff opened #171 "[tests] fix tests on travis"

[2017-10-11 21:19] techniq opened #172 "Additional hierarchy layouts"
I created three new vx components for the remainder of the d3-hierarchy layouts.

## `<Pack />`
- [Component and example](https://codesandbox.io/s/y3rozj8m4x)
- [d3 example ported from](https://bl.ocks.org/mbostock/4063530)

## `<Partition />`
- Grid
  - [Component and example](https://codesandbox.io/s/m36nojzlx)
  - [d3 example ported from](https://bl.ocks.org/mbostock/2e73ec84221cb9773f4c)

- Su

[2017-10-11 23:27] hshoff commented on #172
Wonderful! these will be excellent and much needed additions.

I'm happy to do this.

Good idea. I can add this as well. Will try to find some fun data.

I like the separate components instead of trying to overload a simple general component. I see your point though and will give this some more thought.

super agree with this. i will update all of the different layout components in `@vx/hierarchy`

[2017-10-12 01:46] techniq opened #174 "Support additional link types"
Creating a separate issue to track, mentioned in #172.

It would be nice to support more link types, similar to vega (see [tree example](https://vega.github.io/vega/examples/tree-layout/), [radial tree example](https://vega.github.io/vega/examples/radial-tree-layout/)), such as:

## Orthogonal
- Useful for [brackets](http://bl.ocks.org/jdarling/2503502)
- Another [example](http://bl.ocks.org/goodm

[2017-10-12 02:44] techniq commented on #174
Looking at d3-shape's [curveStep](https://github.com/d3/d3-shape#curveStep) looks to possibly give us a context-agnostic way to create an orthogonal link.  Some useful examples to visualize other curve types:

- https://bl.ocks.org/d3noob/ced1b9b18bd8192d2c898884033b5529
- http://bl.ocks.org/d3indepth/b6d4845973089bc1012dec1674d3aff8
- https://cemrajc.github.io/d3-curve-comparison/

While curveSte

[2017-10-12 04:25] techniq commented on #172
One thing I just remembered, in `Example.js` for [Sunburst](https://codesandbox.io/s/jp2zww0knv) you'll notice I had to use `arc` from `d3-shape` instead of vx's `<Arc />` because vx's also uses the `pie` layout within it.

Maybe worth separating out a `<Pie />` component?

[2017-10-12 17:28] #172 closed

[2017-10-12 17:33] techniq commented on #172
@hshoff Don't miss this comment above ;)

[2017-10-12 17:37] hshoff opened #175 "[shape] separate <Arc /> and <Pie />"
context: https://github.com/hshoff/vx/issues/172#issuecomment-336017198

[2017-10-12 17:44] techniq opened #176 "Slack channel"
Would you be interested in creating a Slack channel (or similar) for development discussions?

[2017-10-12 17:51] hshoff commented on #176
sure thing, join https://d3-slackin.herokuapp.com/ (https://d3js.slack.com) and hop in thhe the #vx channel

[2017-10-12 17:56] #176 closed

[2017-10-15 18:07] zettadam opened #177 "Multiple <AreaClosed />"
Hi, I'm experimenting with @vx packages and was wondering if there was a way to render multiple (not stacked) `AreaClosed` components to achieve standard area chart with multiple series. I am able to render a single series, but not multiple series. Is it a constraint particular to `@vx/shape`?

Here is an AreaChart component I created:

[code]

[2017-10-15 21:01] hshoff commented on #177
Hi @zettadam thanks for checking out vx!

Looks like you might just need to add a `key=` prop https://reactjs.org/docs/lists-and-keys.html#keys

[code]

[2017-10-15 21:51] zettadam commented on #177
Thanks, @hshoff. It didn't work, though. Do I need to wrap each `AreaClosed` in its own `Group`?

[2017-10-15 22:19] hshoff commented on #177
@zettadam doh i missed something earlier. need to return your `series.map`

[code]

[2017-10-15 22:50] zettadam commented on #177
@hsfoff, thanks for spotting it :)

[2017-10-15 22:51] #177 closed

[2017-10-18 00:54] trainorpj commented on #170
I'm interested in this (either learning about it or working on it), although I'm not sure where one would start.

I assume one could use immutable.js, but that seems like a "big hammer, small nail" solution... is there a preferable alternative?

[2017-10-18 02:01] techniq commented on #170
I'm curious what the goal for this is.  I recently [ported](https://github.com/react-tools/react-move/issues/31#issuecomment-337437595) 2 d3 examples using vx and react-move to tween the domain and range of some scales.  It has some mobile performance problems though, and was curious if this could potential improve it (although i am only using d3-scales and not vx-scales in those examples)

[2017-10-23 14:53] Fxlr8 commented on #4
Where in the repo structure should gallery examples be placed?

[2017-10-23 15:07] techniq commented on #4
@Fxlr8 - https://github.com/hshoff/vx/tree/master/packages/vx-demo

[2017-10-23 15:32] hshoff commented on #4
At the moment I've been featuring community projects in the Readme's `In the wild`  section https://github.com/hshoff/vx#in-the-wild.

Plan is to add a vx-demo.now.sh/gallery/community page once we have more examples to feature.

[2017-10-23 16:00] Fxlr8 commented on #14
I am now trying to implement this feature. I was looking for the best practices and I found that Brush, Zoom, and Drag are commonly used together and share the same logic. Purpose of each of them is to change the selected domain. I think it will be a smart decision to create a reusable HOC, which will hold the domain and pass methods for handling dragging, zooming and brushing to the child compone

[2017-10-23 16:15] techniq commented on #4
I've been building up a catalog under my codesandbox - https://codesandbox.io/u/techniq/sandboxes that might be worth linking in as well at some point.

I just created a new tag on codesandbox [vx:example](https://codesandbox.io/search?query=&page=1&refinementList%5Btags%5D%5B0%5D=vx%3Aexample) to make it easier to search for other examples (useful to say also show me examples using `react-move`)

[2017-10-24 03:28] techniq commented on #174
@hshoff: some progress https://codesandbox.io/s/n3w687vmqj

Current using `<LinkStep />`, `<LinkStep before />` and `<LinkStep after />` although I'm not sure how this should be exposed once we have radial examples like in the original comment (`LinkRadialStep`?)

![image](https://user-images.githubusercontent.com/177476/31923580-689fa30a-b849-11e7-9e8f-c61d7431d4a5.png)

![image](https://user-ima

[2017-10-24 05:42] williaster commented on #170
I think some of the thinking here was that currently when you update a d3 scale, you don't get a copy, you mutate the _original_ scale. however, in the React world you often depend on immutability, for example in order to trigger a component to update upon a prop change. in general I think immutability makes caching and change detection techniques more simple / less buggy.

in terms of implementat

[2017-10-24 18:55] #171 closed

[2017-10-25 15:02] hshoff commented on #170
There's an `updateScale()` helper in @vx/scale already https://github.com/hshoff/vx/blob/master/packages/vx-scale/src/util/updateScale.js I forgot I added that way back in May and haven't used it yet.

[code]

Just some ideas. More to think about here...

[2017-10-25 22:23] #175 closed

[2017-10-26 13:41] #159 closed

[2017-10-27 15:21] ghost opened #181 "Port VX to Vue.js"
Hi,

Since I'm not really experienced with React.js. I'm planning to port this package to Vue.js, so I was wondering if there's other people interested in this.

[2017-10-28 06:21] geekplux commented on #181
me

[2017-10-29 05:20] techniq commented on #174
@hshoff Take a look at https://n3w687vmqj.codesandbox.io/

We now have step, curve, line, and the existing "diagonal" link types for both cartesian and polar layouts and horizontal or vertical orientations.

![image](https://user-images.githubusercontent.com/177476/32140857-097c5f34-bc46-11e7-87ab-75c191975544.png)

![image](https://user-images.githubusercontent.com/177476/32140887-326be22e-bc47-1

[2017-11-01 01:28] hshoff commented on #174
@techniq wow! looks great, would love to add these to vx

[2017-11-02 22:07] hshoff commented on #181
Nice! go for it. my guess is most folks in the vue world haven't heard of vx since it's react specific, so you might have to start the project and get more folks on board.

Would love to see ember + web component ports as well 😀

[2017-11-02 22:07] #181 closed

[2017-11-06 14:51] techniq commented on #174
I've been buried at work lately but I'll try to get a PR soon.  I started on the elbow type but having trouble getting the math right.  I'll probably wait to implement it until I get a PR for the others out.

[2017-11-06 14:58] techniq opened #187 "Support Histogram layout"
Would be nice to have this available within vx

- [Docs](https://github.com/d3/d3-array/blob/master/README.md#histograms)
- [Example](https://bl.ocks.org/mbostock/3048450)
- [v4 example](https://bl.ocks.org/d3noob/96b74d0bd6d11427dd797892551a103c)
- [Another example](http://bl.ocks.org/nnattawat/8916402)

I also just took a quick look at [data-ui/histogram](https://github.com/williaster/data-ui/tr

[2017-11-06 15:04] techniq opened #188 "Show Waterfall example"
It would be nice to have an example waterfall/gnatt chart.  Some reference examples:

- https://bl.ocks.org/mbostock/c957dc9c1f8a0bae58d5
- http://andreaferretti.github.io/paths-js-react-demo/ (click on waterfall demo)
- https://developers.google.com/chart/interactive/docs/gallery/ganttchart
- https://github.com/commodityvectors/d3-timeline
- https://github.com/flrs/visavail

[2017-11-06 15:06] techniq opened #189 "Support Chord/Loom layout"
- https://github.com/d3/d3-chord
- https://github.com/nbremer/d3-loom

Examples
- https://bl.ocks.org/mbostock/4062006
- https://bl.ocks.org/mbostock/1046712
- https://www.visualcinnamon.com/2014/12/using-data-storytelling-with-chord.html
- http://bl.ocks.org/nbremer/864b11eb83aac3a1f6a2
- https://www.visualcinnamon.com/2016/06/orientation-gradient-d3-chord-diagram.html

[2017-11-06 15:06] techniq opened #190 "Support Sankey layout"
- https://github.com/d3/d3-sankey

Examples
- https://bost.ocks.org/mike/sankey/
- http://bl.ocks.org/NPashaP/cd80ab54c52f80c4d84cad0ba9da72c2

[2017-11-07 02:07] techniq opened #191 "Support Calendar Heatmap"
- https://bl.ocks.org/mbostock/4063318
- https://github.com/DKirwan/calendar-heatmap
- https://github.com/g1eb/calendar-heatmap
- https://github.com/patientslikeme/react-calendar-heatmap
- http://bl.ocks.org/eesur/5fbda7f410d31da35e42

[2017-11-07 03:55] techniq opened #192 "[responsive] manually trigger resize"
Currently when using [withParentSize](https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/enhancers/withParentSize.js), if the parent changes size NOT from resizing the window (ex. show/hide side drawer that resizes the width of the main content), the width is not recalculated.

Need a way to force the component call `resize()` (based on a prop change, or expose the actual `resize`

[2017-11-07 04:03] techniq commented on #192
[react-resize-detector](https://github.com/maslianok/react-resize-detector) looks to support this, although it appears to have an [issue](https://github.com/maslianok/react-resize-detector/issues/11)

[2017-11-07 08:34] williaster commented on #191
this would be a good add, nice collection of examples 👍

[2017-11-07 11:45] techniq commented on #192
I think both options sound great. It seems like if you use resize manually
you probably don't want the eventlisteners as well, so maybe we expose a
`disableEventListeners` prop to not wire them up (or call
removeEventListeners if the prop changes)?

On Tue, Nov 7, 2017, 2:51 AM Chris Williams <notifications@github.com>
wrote:

[2017-11-07 16:49] techniq commented on #192
@hshoff I didn't know if a Mutation Observer would detect it's parents dimensions changing (and thus it's own) or just the contents/attributes/children of an element/component (I've not used Mutation Observers myself yet but have read about them.

[2017-11-07 16:54] techniq commented on #192
We could use a [ResizerObserver](https://developers.google.com/web/updates/2016/10/resizeobserver), but it would require a [polyfill](https://github.com/que-etc/resize-observer-polyfill) as it's [not supported](https://caniuse.com/#feat=resizeobserver) on any browser yet

[2017-11-07 16:57] techniq commented on #192
See the note at the bottom of the Google Developers article about [polyfilling](https://github.com/WICG/ResizeObserver/issues/3)

<img width="800" alt="screen shot 2017-11-07 at 11 55 36 am" src="https://user-images.githubusercontent.com/177476/32506457-a5fe874c-c3b2-11e7-8572-be3b17255b2a.png">

[2017-11-08 20:01] techniq commented on #191
While I don't normally like 3D visualizations, I do prefer them on my Github heatmap so it might be worth investigating as well.

![image](https://user-images.githubusercontent.com/177476/32571473-80863724-c495-11e7-92fe-73a83240b7d7.png)

[2017-11-09 14:55] techniq commented on #191
Ported d3 calendar view [example](https://bl.ocks.org/mbostock/4063318) to [vx](https://codesandbox.io/s/p5lz8vv49q)

[2017-11-09 15:11] techniq commented on #191
A few other examples
- Month by month with weeks as rows instead of columns - http://bl.ocks.org/KathyZ/c2d4694c953419e0509b
- Interactive example of [this](https://github.com/g1eb/calendar-heatmap) - https://codepen.io/g1eb/pen/KWXzLR

[2017-11-09 16:34] techniq commented on #191
Ported the month by month example to [vx](https://codesandbox.io/s/2wz5yrr23p)

[2017-11-09 21:26] erosenberg opened #195 "Ability to style data points"
Unless I'm missing something, I would like to be able to add data points and style them (in a line chart especially). Is this possible or is this what Glyphs are for?

[2017-11-09 21:30] erosenberg commented on #195
I spoke too soon. That is what Glyphs are for. My apologies!

[2017-11-09 21:30] #195 closed

[2017-11-10 01:57] techniq opened #196 "[gradient] support more than 2 stops (to/from)"
It would be useful to be able to define a `<LinearGradient />` or `<RadialGradient />` with more than 2 stops (`to` / `from`), maybe adding a `steps` prop that takes in an array of `{ color, offset, opacity }` objects, to support things such as threshold gradients / encoding.

A few examples:
- https://codepen.io/beacrea/pen/reywxz?editors=0010
- https://bl.ocks.org/mbostock/3970883
- https://www.

[2017-11-10 02:40] hshoff commented on #196
Yup just your custom <stop />s as children. https://github.com/hshoff/vx/blob/master/packages/vx-gradient/src/gradients/LinearGradient.js#L54

[2017-11-10 02:40] #196 closed

[2017-11-10 02:42] techniq commented on #196
Awe, thanks. I overlooked that

[2017-11-10 05:48] techniq commented on #188
Ported [d3 waterfall example](https://bl.ocks.org/mbostock/c957dc9c1f8a0bae58d5) to [vx](https://codesandbox.io/s/yjol7n7qq9)

[2017-11-10 14:07] techniq commented on #192
https://twitter.com/yoavweiss/status/928686636895838208

[2017-11-13 20:32] #192 closed

[2017-11-13 22:40] #174 closed

[2017-11-14 02:53] techniq commented on #192
fyi, I noticed the [WithParentSize](https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/enhancers/withParentSize.js) HOC doesn't use the new `<ParentSize />` component so it doesn't resize on DOM changes

[2017-11-15 22:16] erosenberg opened #199 "Event handlers on pie charts?"
Hello, just wanted to know if it's possible to add event handlers to pie charts. Essentially, I want a label elsewhere on my page to update when I hover over a specific data set. Is this possible? I can work around it, but it would be nice functionality to have if not there already. #

[2017-11-16 01:32] hshoff commented on #199
Hi @erosenberg, thanks for checking out vx! Yes, events on a pie chart are possible.

![vx-pie-events](https://user-images.githubusercontent.com/339208/32869269-e52822ba-ca2a-11e7-9b92-60a716001fb5.gif)

demo: https://codesandbox.io/s/mjp8lmvop?expanddevtools=1

the important bit:

[code]

[2017-11-16 01:32] #199 closed

[2017-11-16 18:10] erosenberg commented on #199
This worked excellently. Thanks, @hshoff ! Was that that somewhere in the docs and I just missed it?
Also, amazing job on this and thanks again for the speedy response!

[2017-11-16 18:11] xcoderzach opened #200 "AreaStack value accessors"
The `AreaStack` component has a `keys` stack accessor, but not the corresponding `value` accessor.  My data is shaped like:

[code]

So my `keys` would be `['good', 'ok', 'bad']` but the value accessor needs to be `(d, k) => d.status[k]`.  I can obviously just map over the data and flatten it, but it would be preferrable to just have a `value` accessor.

If this is something you think is useful I'

[2017-11-16 18:16] hshoff commented on #200
Sounds useful! go for it. Let me know if you run into any troubles with local dev. Happy to help.

[2017-11-16 20:05] williaster commented on #192
do you think there's still a need for the HOC? or should we deprecate it and just use `<ParentSize />` going forward?

[2017-11-17 22:43] erosenberg opened #201 "Center an axis (especially bottom x axis) as a boolean prop"
It would be nice to be able to say something like: `verticallyCentered={true}` as a prop on `Axis` to indicate where an axis should start or where a zero line should be.
I know this is achievable via d3/svg but haven't seen any utils to help with that.

[2017-11-20 02:13] sw-yx opened #202 "[responsive] <ParentSize /> ResizeObserver polyfill melts on Firefox Quantum"
i just tried https://vx-demo.now.sh/gallery on firefox quantum and something is going badly wrong...

![vxonfirefox](https://user-images.githubusercontent.com/6764957/32999188-8535113c-cd6e-11e7-9423-e35c97f3a9b0.gif)

just reporting.

[2017-11-20 10:38] jacek213 commented on #41
in react native it should probably be done using ART built-in lib: https://github.com/facebook/react-native/tree/master/Libraries/ART

[2017-12-01 21:01] #202 closed

[2017-12-01 21:22] hshoff commented on #202
@sw-yx thanks for the heads up! should be fixed now https://vx-demo.now.sh/gallery

![screen shot 2017-12-01 at 4 22 10 pm](https://user-images.githubusercontent.com/339208/33504016-d980d6f6-d6b3-11e7-8db9-e37dd4dee84b.png)

[2017-12-02 05:50] msathis opened #207 "Demo: Funnel Chart"
If possible can you please add funnel chart to demo? I found a nice vizualization in dribbble for funnel chart https://dribbble.com/shots/2673159-Funnel-UI-concept

[2017-12-03 21:25] msathis commented on #207
I gave it a try. But i couldn't create the exact curve as shown in the dribbble shot. @hshoff Any help would be appreciated. :)

[2017-12-06 12:29] sabarnix opened #209 "Add onClick prop to Legend component"
Can we add an onClick prop to Legend component which is invoked with the name/value of the clicked series?

[2017-12-06 15:20] msathis commented on #207
Fixed it myself. It was not curve. Will share the chart soon :)

[2017-12-06 15:20] #207 closed

[2017-12-06 15:48] hshoff commented on #207
Awesome! Excited to see the result.

[2017-12-06 15:57] hshoff commented on #209
Hi @sabarnix thanks for checking out vx!

Yes absolutely, surprised I forgot to add this. Will add in `v0.0.150`

[2017-12-06 20:32] hshoff commented on #201
Hi @erosenberg, thanks for checking out vx!

One approach would be to update the domain and range for you scale to keep `0` centered. something like:

[code]

![screen shot 2017-12-06 at 3 32 04 pm](https://user-images.githubusercontent.com/339208/33683976-a6e0688e-da9a-11e7-9291-bab1f1bf0624.png)

example: https://codesandbox.io/s/5xjokyo6qk

[2017-12-10 12:54] VadimZP opened #211 "Negative values are out of the scope in weather graph."
I'm building a graph and below you can see that the lowest temperature is hidden. How can i solve this problem?

![screenshot](https://user-images.githubusercontent.com/25126611/33804983-983e673c-ddb9-11e7-8ece-e947522df663.png)

[2017-12-10 15:01] VadimZP commented on #211
So, I've found the solution. If someone run intro this problem, you should you **yScale domain** .

Like this:

`domain: [min(data, y), max(data, y)], `

_'0' was replaced by 'min(data, y)'_

[2017-12-10 15:03] #211 closed

[2017-12-12 13:57] Krzyku commented on #56
I also can help. Any news? Branch? Fork?

[2017-12-12 20:09] #201 closed

[2017-12-18 14:03] techniq opened #216 "Use puppeteer for @vx/text tests"
Now that jest has support for [puppeteer](http://facebook.github.io/jest/docs/en/puppeteer.html#content), we need to use it for @vx/text [tests](https://github.com/hshoff/vx/blob/master/packages/vx-text/test/Text.test.js) as it requires a DOM to perform the text measurements (something that jsdom does not support which jest uses by default).

Here is a full working example: https://github.com/xfum

[2017-12-18 14:21] techniq commented on #191
@hshoff @williaster I'm thinking it would be nice if we created a `@vx/time` package and extracted the `pathMonth` function from the [calendar heatmap example](https://codesandbox.io/s/p5lz8vv49q)...

[code]
...into a component, such as
[code]

Although maybe this better belongs under `@vx/shape`

It might also be useful to extract some kind of `<Calendar />` component between this example and [al

[2017-12-21 21:59] techniq commented on #143
We might also want to look into adding `pure-module: true` to our modules for Webpack 4.  See d3 [issue](https://github.com/d3/d3/issues/3131) for details

[2017-12-22 07:14] ljharb commented on #143
@techniq i believe it's now `sideEffects: false`.

[2017-12-22 17:03] msathis opened #218 "vx/text leaves empty space at bottom due to svg left unremoved after calculating text width"
https://github.com/hshoff/vx/blob/master/packages/vx-text/src/util/getStringWidth.js#L9

This svg element is left unremoved which adds 300x150 empty space at the bottom of the page.

[2017-12-22 17:41] techniq commented on #218
@msathis Good catch.  I leave the `<svg>` element on the page to improve performance (so an element isn't added/removed from the DOM every time we need to measure a word) but hadn't accounted for the default width/height of the element (and hadn't seen the spacing myself).  I hadn't seen the issue myself, but PR #219 should resolve this.

[2017-12-28 15:15] #218 closed

[2018-01-03 19:07] techniq opened #220 "Render props"
Creating a list of existing HOC components we should updated to have least have a render prop equivalent (feel free to add to the list)

- `<ScreenSize>`
  - Convert [withScreenSize](https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/enhancers/withScreenSize.js) similar to what we did with [ParentSize](https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/components/

[2018-01-04 16:59] hshoff commented on #220
thanks @techniq!

[2018-01-05 14:40] OKNoah opened #221 "PatternCircles strokeWidth"
I see this example has `strokeWidth` use in the `PatternCircles` component. But can anyone confirm this works?

https://vx-demo.now.sh/static/docs/vx-pattern.html

[code]

[2018-01-05 15:48] hshoff commented on #221
Hi @OKNoah, thanks for checking out vx!

Here's a codesandbox of a working `strokeWidth` on `<PatternCircles />`:
<img width="572" alt="screen shot 2018-01-05 at 10 47 30 am" src="https://user-images.githubusercontent.com/339208/34616304-e451cdfc-f205-11e7-8a82-adafafec60d3.png">
https://codesandbox.io/s/n9rr21qkrp

[2018-01-06 20:05] hshoff commented on #221
Going to close this but feel free to follow up if you have questions or if something isn’t working as expected.

[2018-01-06 20:05] #221 closed

[2018-01-06 20:05] OKNoah commented on #221
@hshoff I will give it another go later, thanks.

[2018-01-09 14:11] OKNoah commented on #221
@hshoff Indeed it does work, not sure why it didn't before. Is there a way to increase circle diameter? Looking at the code, it's not obvious how.

[2018-01-09 15:22] hshoff commented on #221
@OKNoah great! Yup, just increase `radius`, `width`, and `height`.

`width` & `height` define the the area that will be repeated as a pattern. Then the center point for your circle will be `cx = width / 2` and `cy = height / 2`. Here's another example: https://codesandbox.io/s/1z2k2wxk54

[2018-01-09 17:32] katerineknox opened #222 "Issue with scalePower"
Hi,
I was just trying to use the scalePower function and came across an error.
`TypeError: scale.base is not a function`
Looks like it's trying to set base when it should be using exponent.
Happy to raise a pull request to fix and update the api to use exponent instead - since it's a small change I'm assuming I shouldn't break anything.

[2018-01-09 17:47] williaster commented on #222
Hi @katerineknox! Thanks for checking out vx.

I think you're right that this should be `scale.exponent` as opposed to `.base`. A PR would be fantastic if you're up for it! Agree re the minor api change 👍

[2018-01-10 13:46] #222 closed

[2018-01-11 16:40] hshoff commented on #143
more info: https://github.com/webpack/webpack/tree/next/examples/side-effects
excited for this.

[2018-01-12 18:33] hshoff commented on #16
fixed in: https://github.com/hshoff/vx/pull/208

[2018-01-12 18:33] #16 closed

[2018-01-12 19:24] williaster commented on #220
We could possibly remove `TooltipWithBounds` if we converted `withBoundingRects` -> `BoundingRects` because things could be more composable:

[code]

though this still requires the user to do the right rect comparison, which isn't hard but is basically boilerplate.

[2018-01-12 19:44] techniq opened #226 "Add <Link*> examples to vx-demo"
I think it would be nice to have https://codesandbox.io/s/n3w687vmqj ported to vx-demo to show how to use `LinkHorizontal*`, `LinkVertical*`, and `LinkRadial*`.  See also: https://github.com/hshoff/vx/issues/174 and https://github.com/hshoff/vx/pull/194

[2018-01-12 20:07] #209 closed

[2018-01-12 20:21] techniq commented on #220
@williaster could `BoundingRects` expose some helpers passed down as well, such as

const top = ...;
const left = ...;

[code]

[2018-01-14 17:19] Zaitsev opened #228 "Debounce option for ParentSize"
We used a high CPU-load math for render SVG  wrapped in Parentsize component, so it will be nice to debounce resize events, so SVG will be re-rendered after some timeout  after resize stopped

[2018-01-17 00:32] #8 closed

[2018-01-17 06:10] williaster commented on #228
thanks for checking out vx Zaitsev!

seems useful and similar to [similar functionality that exists within `withScreenSize` and `withParentSize](https://github.com/hshoff/vx/search?utf8=%E2%9C%93&q=lodash%2Fdebounce&type=)` (which we are [planning to deprecate](https://github.com/hshoff/vx/issues/220) for `v1` btw).

PR's welcome :) but otherwise can get to it relatively soon 👍

[2018-01-17 20:12] bernatfortet opened #232 "Candle stick charts"
Any support planned for candlestick charts?

[2018-01-17 20:29] techniq commented on #232
@bernatfortet Take a look at the [boxplot](https://vx-demo.now.sh/boxplot) demo as well as this [ethereum demo](https://viewsource.now.sh/ethereum/) and [source](https://github.com/hshoff/viewsource/tree/master/components/ethereum/chart)

[2018-01-17 22:50] bernatfortet commented on #232
Thanks! I'll look deeper into the examples.
Super cool project btw 👍

[2018-01-17 22:52] #232 closed

[2018-01-20 07:09] techniq commented on #190
Beginning support / example: https://codesandbox.io/s/njvoqwj24

Based on [d3-sankey-circular](https://github.com/tomshanley/d3-sankey-circular), although [d3-sankey-diagram](https://github.com/ricklupton/d3-sankey-diagram) had some nice [features](https://ricklupton.github.io/d3-sankey-diagram/)

[2018-01-22 04:30] techniq commented on #226
resolved via https://github.com/hshoff/vx/pull/234

[2018-01-22 04:30] #226 closed

[2018-01-22 04:35] techniq commented on #41
Chatted in Slack but worth mentioning here, it would be nice to support `canvas` along with `svg`

[2018-01-24 11:36] ellipticaldoor commented on #181
I would like to work on that port, any updates on that?

[2018-01-24 11:45] ellipticaldoor opened #236 "labelProps are not being applied to AxisBottom"
I'm following [this example](https://vx-demo.now.sh/axis) and I can't change the size of THE AxisBottom label using labelProps.

With this code
![image](https://user-images.githubusercontent.com/3449006/35330590-f8940028-00fb-11e8-8085-3846c93dafa2.png)

I get this result
![image](https://user-images.githubusercontent.com/3449006/35330579-efb9b2f4-00fb-11e8-96e3-cf2837d81c61.png)

[2018-01-24 16:44] hshoff commented on #236
Hi @ellipticaldoor thanks for checking out vx!

That's odd, looks like it's working for me here: https://codesandbox.io/s/rrkq83p9x4

Is there any chance you have some css that is getting applied to the bottom axis label?

[2018-01-28 04:10] bernatfortet opened #237 "Respect initial ordering Pie/Donut"
When the values of a Pie/Donut change the pieces jump around.
I've created a video to better explain what I mean:
https://www.dropbox.com/s/s5r0cnlobzuj531/donut.mov?dl=0

The expected behavior is that the positioning of the elements respects the input data.

Am I making sense?

(btw, I love @vx 👌  )

[2018-01-28 05:52] hshoff commented on #237
Hi @bernatfortet, that's an awesome dashboard. Great work!

In this case you'll want to add a `pieSort` and sort on the index of the data. Looks like `d3-shape.pie` defaults the sort value by descending https://github.com/d3/d3-shape#pie_sortValues so that's why things are jumping around

Here's an example: https://codesandbox.io/s/13v7vowpy3
![vx-pie-sort](https://user-images.githubusercontent.co

[2018-01-30 16:13] hshoff commented on #237
Going to close this for now. Happy to reopen if the above doesn't solve the problem.

[2018-01-30 16:13] #237 closed

[2018-02-02 07:15] manuelrocha88 opened #239 "Tooltips Bounds to Screen"
I'm trying to put some tooltips on my charts. I'm making use of TooltipWithBounds but this only consider the chart svg bounds.

Could you help me on how to get also the Tooltips being inside screen bounds?

If, for some reason the chart is half visible the tooltips will appear inside svg bounds but half the svg is out of the screen bounds.

How to solve this?

[2018-02-05 15:10] hshoff commented on #239
Hi @manuelrocha88 thanks for checking out vx!

you should be able to use https://github.com/hshoff/vx/blob/master/packages/vx-bounds/src/enhancers/withBoundingRects.js and pass in the root component that wraps everything on the screen to get the bounds.

[2018-02-05 20:53] manuelrocha88 commented on #239
@hshoff thanks for the reply, but that only solve the issue of screen bounds. BTW I've solved the issue already and I'm going to push a PR for that. It should solve other people same issue.

[2018-02-05 21:01] manuelrocha88 commented on #239
@hshoff you have a PR #240 that solve this "issue". That's more an improvement then a fix.

[2018-02-07 21:34] #228 closed

[2018-02-07 22:18] bernatfortet commented on #237
Hey @hshoff thank you so much for the late reply. It seems that pieSort works like a charm 👌

Here I tried to animate that transition but it does very strange things haha
https://www.dropbox.com/s/lky9u45qqfwvyiw/transition.mov?dl=0

Anyway, animation is not need at this point. Thanks again!

[2018-02-08 18:59] williaster commented on #237
Sometimes you'll need custom tween-ers to interpolate between states correctly. Not sure if that's the problem here without seeing a code snippet. [`react-move`](https://github.com/react-tools/react-move) should support custom tweening. Here's a donut chart [example](https://react-move.js.org/#/examples/charts).

[2018-02-08 20:34] bernatfortet commented on #237
@williaster I was just using `.vx-pie-arc{ transition:500ms; }` to animate.
That react-move animation is very sexy!

[2018-02-11 17:37] hshoff commented on #239
solved by: https://github.com/hshoff/vx/pull/240

[2018-02-11 17:37] #239 closed

[2018-02-13 08:26] Vaga91 commented on #162
Hello dears, I use this tree to display data, and I want to thank you for this work.
There is one problem, please help.
With large data When the **layout is polar** and the **link is a curve** nodes overlap each other (you can see here https://codesandbox.io/s/p5pkn9jwx ).
It is possible to do something to fix this problem?
Thanks.

[2018-02-14 04:36] techniq commented on #162
@Vaga91 you could adjust the [separation](https://github.com/d3/d3-hierarchy#cluster_separation) prop.  The larger you make the ratio, the greater the spread between sibling nodes.

## Your examle
`separation={(a, b) => (a.parent == b.parent ? 1 : .5) / a.depth}`
![image](https://user-images.githubusercontent.com/177476/36187671-e73554b6-1114-11e8-910b-5a4c707af87f.png)

## Possible solution
`sepa

[2018-02-14 15:44] hshoff commented on #162
Closing this as examples were adding in https://github.com/hshoff/vx/pull/234. Can view them here: https://vx-demo.now.sh/linkTypes

[2018-02-14 15:44] #162 closed

[2018-02-16 05:15] bernatfortet opened #243 "Stacked Areas"
Hi,

Maybe I'm missing something very simple but I'm not sure how to create a simple stacked area chart like this:
![image](https://user-images.githubusercontent.com/390010/36294280-7c9aaed6-1294-11e8-92f4-8573e4bc73b0.png)

With https://vx-demo.now.sh/stacked-areas there's no white space
And with https://vx-demo.now.sh/streamgraph it goes negative (below horizontal axis)

I but it's a very simple

[2018-02-16 16:42] hshoff commented on #243
Hi @bernatfortet, here's an example of how to do this with `<AreaStack />`: https://codesandbox.io/s/k3vo8682q7

![screen shot 2018-02-16 at 11 41 22 am](https://user-images.githubusercontent.com/339208/36318615-5b6b4fa2-130e-11e8-881f-4a60632137ec.png)

it's based on: https://bl.ocks.org/mbostock/3020685

main thing to know is

[code]

[2018-02-16 16:42] #243 closed

[2018-02-17 23:58] bernatfortet commented on #243
Thank you so much! Very helpful 👍

I'm quite new to d3 and it has always felt very intimidating. yScale still feels very cryptic to me.
Do you know of any good intro to it?

[2018-02-18 00:17] techniq commented on #243
I have some descent guides under scales here that might help -
https://github.com/techniq/wiki/wiki/d3

On Sat, Feb 17, 2018, 6:58 PM Bernat Fortet <notifications@github.com>
wrote:

[2018-02-18 04:13] bernatfortet commented on #243
🙏 Thanks!

[2018-02-19 18:14] techniq opened #244 "Create <PanZoom>"
Just throwing this here so I don't forget about it (and document some ideas).  It would be useful to have a `<PanZoom>` component to handle panning and zooming an SVG canvas for large visuals.

- [ ] Programatic panning and zooming (support for directional arrow UI / keyboard input / focus on element)
- [ ] Panning via mouse (grab and drag)
- [ ] Mini-map
  - Using upcoming `@vx/brush`?
- [ ] Sett

[2018-02-20 11:57] knoopx commented on #143
Three shaking won't work using absolute paths to components on the app side unless the library also uses absolute paths within the library code.

[2018-02-20 17:15] ljharb commented on #143
@knoopx tree-shaking isn’t *needed* when using deep paths (absolute paths - starting with / - are never a good idea)

[2018-02-20 17:28] bernatfortet opened #245 "Different line colors for threshold"
I'm trying to create a chart where the line has a different color if it's above or below given a data point.

What approach would you recommend?
Is the idea to create multiple different line charts for each section of color?

Here's an example:
![image](https://user-images.githubusercontent.com/390010/36438904-1ddcd0b0-1620-11e8-990f-a2656ba7d004.png)

Thanks in advance!

[2018-02-20 18:34] williaster commented on #245
Great question @bernatfortet! We were just discussing adding a "divided line" component to `@vx/shape` to enable doing this. Do you have a requirement to use areas or would lines suffice for you? (it'd be nice to have both ...)

If you're interested in helping add this component we would totally welcome a PR! Otherwise we'll try to get to it soon. If you want a quick solution for a divided line, c

[2018-02-20 21:15] jfilipe commented on #245
I was able to use the SVG `clipPath` property to accomplish that. https://developer.mozilla.org/en-US/docs/Web/SVG/Element/clipPath

![image](https://user-images.githubusercontent.com/185875/36449546-12339760-1659-11e8-8a51-4454da9cc6a5.png)

Basically, I'm rendering the line twice in both colours, and then create 2 `clipPath`s to hide the line where it shouldn't be shown.

[2018-02-20 21:49] bernatfortet commented on #245
Thanks @williaster!
I can give it a try within the next couple of weeks.

I updated the code example to mimic what I wanted. Indeed there's some piece of code to make it work with multiple areas. Right now the area start from the base.
![image](https://user-images.githubusercontent.com/390010/36451115-cca5887a-1644-11e8-95f8-292103455961.png)

https://codesandbox.io/s/qlw0x164j6

[2018-02-21 09:46] Vaga91 commented on #162
@techniq I've been experimenting these few days. And here is the result [Tree](https://codesandbox.io/s/y373y78nl9)
I added `separation={(a, b) => ((a.children === b.children) && (a.parent === b.parent) ? 1 : 7) / a.depth }`
but it is still possible to improve

Thank you :)

[2018-02-22 10:57] knoopx commented on #143
Yes I was referring to "deep paths". The library should use deep paths too in order to be able to tree shake on the app side.

[2018-02-22 11:14] knoopx commented on #143
For example I'm using only these modules:

[code]

However my bundle contains a bunch more than the ones I'm actually using:

![image](https://user-images.githubusercontent.com/100993/36535390-b9fc06be-17c9-11e8-8c11-1b0992dc882d.png)

[2018-02-22 16:00] hshoff commented on #143
That’s my fault. Will get that fixed. Thanks @knoopx

[2018-02-22 16:06] knoopx commented on #143
@hshoff I personally think it would be easier to distribute vx also as a module and let the "tree shaking" do the hard work as this issue suggest. Anyway thanks for taking the "deep path" feedback into account.

[2018-02-22 16:44] hshoff commented on #143
Yup, absolutely. I need to update the build tooling.

[2018-02-22 16:55] ljharb commented on #143
For me, “tree-shaking helps” is an indication that architecture is sub-par, and that something should be improved.

It seems like if internal usage in vx changes to use deep paths instead of using “manifest exports” - ie, a file that imports a bunch of things and re-exports them - that the bundle size issues will be addressed.

[2018-02-24 19:43] browniefed opened #246 "VX-native Umbrella"
Working on https://github.com/browniefed/vx this will be an umbrella for issue for all the places that need a fixing. Will keep adding/checking off as progress happens.

- [ ] className? Doesn't seem like react-native-svg cares so that's nice, but maybe a transform to remove them
- [ ] withBoundingRects needs to not use React-DOM, externalize to vx-primitives.
- [ ] vx-brush: getCoordsFromEvent us

[2018-02-25 01:15] techniq commented on #246
Awesome work thus far @browniefed

It would be great if we also considered how supporting `<canvas />` might work (not related to react-native, but might influence the overall implementation).  I would image using something like [react-konva](https://github.com/lavrton/react-konva) to provide the primitives.  This is primarily tracked in #41 but thought it was worth mentioning here.

[2018-02-25 02:26] browniefed commented on #246
Partly been following an implementation for a quick injection system that that Leland Richardson uses for `Animated`. My only hesitation with going with generic primitives is need a transformation layer for some of the minor differences between DOM svg/react-native-svg.

However, with a slightly custom primitive system built for each system to do necessary transforms in render targeting the under-

[2018-02-25 02:30] browniefed commented on #246
I'm sure there will need to be more refactoring, I see Konva doesn't have a TSpan as well.

[2018-02-25 03:51] techniq commented on #246
@browniefed I'm also not sure how much benefit will be gained with using something like `Konva`/`react-konva` to provide canvas support, since it will ultimately be adding a component to each canvas entity, which basically returns us back to svg (at least at a high level)

Should probably do some preliminary performance / benefit gains to adding canvas support in general before we venture to far d

[2018-02-25 06:43] browniefed commented on #246
I have some demoes working now in the app, https://github.com/browniefed/vx
You'll need to use haul since it actually follows symlinks.
The getting started is pretty straight forward https://github.com/callstack/haul#getting-started

Some work is needed on touch based stuff, so I'm going to attempt that, I doubt it's going to be easy.

The main issue how I've set stuff up, and the need for additio

[2018-02-25 14:23] Zaitsev opened #247 "ParentSize disableHieght disableWidth"
Often children interested only in one of dimensions or positions, so its handy to limit redraw events with dome flags so redraw not fired if `disableHieght = true` and parent changed height only

[2018-02-25 16:30] browniefed opened #248 "BarGroup overrides `y` with {...restProps}"
Running through the demo here https://vx-demo.now.sh/bargroup, the y is processed and spread onto `Bar` however it isn't pulled off from ` {...restProps}` and it gets overridden.

Also `const y = d => d.value;` isn't used for that demo and or isn't necessary for it.

[2018-02-25 18:36] browniefed commented on #248
Fixed: https://github.com/hshoff/vx/pull/250

[2018-02-26 17:56] #248 closed

[2018-02-28 14:52] petter-kaspersen opened #251 "Add label to <Bar />"
Hey!

How do I add a label to a <Bar /> element? In some charts you can use the ```centrum``` property to do that, but that doesn't work on the Bar. I have tried looking through the docs several times but I just can't seem to find out how to do it.

Any help would be appreciated.

[2018-02-28 17:28] RosaRomeroGomez opened #252 "'vx/legend' is not in the npm registry"
I've been trying to deploy my React application (created with create-react-app) on a Linux machine but I get the following error when I run `npm install`:

[code]

It is pretty strange because this does not happen to me when I deploy the application on my Mac local machine. I've been doing some research on the Internet and I also tried to set the registry but it still didn't solve my problem. My l

[2018-02-28 17:41] browniefed commented on #252
Use `@vx/legend` not `vx/legend` https://www.npmjs.com/package/@vx/legend

[2018-02-28 18:02] RosaRomeroGomez commented on #252
Thank you for your response. I'm already doing that. This is how my package.json looks like and it is driving me crazy. Maybe there is some issue with the @ at the beginning of the name? As I said, I have no issues when I do npm install on my mac but I don't know what's going on with this Linux machine... It doesn't make any sense... Any other ideas?

[code]

[2018-02-28 18:07] browniefed commented on #252
Odd, have you tried yarn instead of npm? Are you sure you're using the latest NPM on linux?
I only mentioned the @ since if  see the message it's stripping the @ `'vx/legend' is not in the npm registry.`

[2018-02-28 18:23] hshoff commented on #252
Hi @RosaRomeroGomez that's odd. What version of npm are you running locally?

[2018-02-28 18:29] williaster commented on #252
`Scoped packages can be published and installed as of npm@2` ([source](https://docs.npmjs.com/misc/scope))

[2018-02-28 18:58] RosaRomeroGomez commented on #252
@hshoff locally I'm running npm 5.6.0 and it works fine. Good news, I was able to finally solve the issue using yarn 1.5.1 on the linux machine instead of npm (following @browniefed recommendation). Not sure what's going there. I'm running the same version of npm (5.6.0) on the linux machine but definitely, using yarn seems the solution by now.
Thanks to you all!

[2018-02-28 19:02] williaster commented on #251
Hi @petter-kaspersen, thanks for checking out `vx`!

Because `vx` is more of a "low-level" vis library like `d3`, there's no native support for labels out of the box with `<Bar />`. This enables maximum customization opportunities, and it's pretty easy to just add your own `<text />` element in conjunction with a `<Bar />` and maybe a `<Group />`. [This is a codepen](https://codesandbox.io/s/qx0kn

[2018-02-28 19:03] #251 closed

[2018-02-28 19:11] hshoff commented on #251
haha @williaster beat me to the punch... but everything chris said plus here's another very similar example: https://codesandbox.io/s/zw2y6lrnzl

[2018-02-28 19:18] hshoff commented on #252
Happy to hear you got it working!

[2018-02-28 19:18] #252 closed

[2018-02-28 19:19] hshoff commented on #247
Hi @Zaitsev, great idea. Will look to add this in a future release.

[2018-03-03 23:30] bernatfortet commented on #245
![image](https://user-images.githubusercontent.com/390010/36940430-8489bb86-1ef7-11e8-9bed-dda22d35fd05.png)
I've updated to the code sandbox to reflect @jfilipe's idea of using clip paths.

@williaster, would you want me to create a component from this code sandbox?

[2018-03-04 23:13] williaster commented on #245
thanks @bernatfortet! that looks great! 🎉 when I click the sandbox link above tho I still see the first version (where red starts at 0). any chance it has a different url?

either way, yeah if you're down to post a PR to move that to a component in `@vx/shape` that'd be 🙌I bet many people would use this.

[2018-03-07 23:28] bernatfortet commented on #245
Oh, sorry: here's the new link link: https://codesandbox.io/s/8yxp82r3qj

I'll try to post a PR.

[2018-03-08 20:17] jnelken commented on #50
Can we open this back up? It is still not available. It is still called on render for me ("@vx/shape": "^0.0.153")

[2018-03-08 20:43] hshoff commented on #50
@jnelken you probably have something like

[code]

when you want

[code]

[2018-03-14 20:30] madprog commented on #56
Any news on this?

[2018-03-16 13:46] DarKDinDoN opened #253 "scaleTime and ticks()"
Hello,

Let's assume the following code :
[code]

The data array is filled with 12 items, but the function "ticks()" return 11 items. Why is that ?
When I use the xScale with a shape (e.g : LinePath), it works well. But when I use an Axis (that uses the ticks() function), it doesn't work as expected.

<img width="758" alt="capture d ecran 2018-03-16 a 14 43 16" src="https://user-images.githubuserc

[2018-03-16 14:33] DarKDinDoN commented on #253
Ok, maybe I did not read the documentation carefully enough 😃
Ticks are approximate.

I would like to display the ticks with at least the very first and the last one. Is it possible ?

Thanks

[2018-03-16 17:26] hshoff commented on #253
Hi @DarKDinDoN, here's an example of rendering custom axis ticks with `<AxisBottom />` https://codesandbox.io/s/rrkq83p9x4. hope it helps!

<img width="421" alt="screen shot 2018-03-16 at 1 25 53 pm" src="https://user-images.githubusercontent.com/339208/37535294-a47b71fc-291d-11e8-9e84-e7a7f13a21e1.png">

[2018-03-16 19:22] williaster commented on #253
@DarKDinDoN another option if you don't want to define your entire `Axis` component is to pass an array of `tickValues` to `<Axis* />, which is _not_ approximate and [will override the those from `scale.ticks()`](https://github.com/hshoff/vx/blob/master/packages/vx-axis/src/axis/Axis.js#L85)

[2018-03-17 09:06] DarKDinDoN commented on #253
Thank you ! 😄

[2018-03-17 09:06] #253 closed

[2018-03-20 13:09] Krzyku commented on #56
`*.d.ts` :+1:

[2018-03-21 09:45] loopmode opened #255 "Support edge/link labels"
Hi. Not sure what this issue is.. A feature request, a question for help, an offer to contribute..

I need to create a network graph with labeled edges.
So, basically something like your demo https://vx-demo.now.sh/network
But with labels on the edges, as shown in http://bl.ocks.org/jhb/5955887

if this is already possible, I'd love to see an example in the gallery. I'd be willing to actually crea

[2018-03-21 16:50] Zaitsev opened #256 "importing full Lodash library"
Such import caused full lodash library to be imported
`import debounce from 'lodash/debounce';`
doing  tree-shaking etc requires special bablel and webpack configs
It is better to use [lodash.debounce](https://www.npmjs.com/package/lodash.debounce) stand-alone library

[2018-03-21 17:06] hshoff commented on #255
Hi @loopmode, thanks for checking out vx!

Here's an example with labels -- https://codesandbox.io/s/nrj5wr3v5m
<img width="511" alt="screen shot 2018-03-21 at 1 05 49 pm" src="https://user-images.githubusercontent.com/339208/37725129-9da81422-2d08-11e8-8b0a-a5a03d60aed4.png">

[2018-03-22 03:29] hshoff commented on #256
Oh wait this was intentional https://github.com/hshoff/vx/pull/66
@lencioni is vx doing this right?

[2018-03-22 04:02] lencioni commented on #256
I wouldn't expect import from lodash/foo to bring in all of lodash. Can you put together a minimal repro of what you are seeing?

[2018-03-27 07:49] loopmode commented on #255
Wow, I didn't get back to this for an entire week...
Well, thank you very much @hshoff ! The library is fantastic, really a pleasure to work with!
Thanks for the example!

[2018-03-27 09:33] denkristoffer opened #258 "IE 11 doesn't work with <ParentSize />"
Hi! :wave:

In IE 11 I'm seeing the error `ReferenceError 'Symbol' is undefined` when using the `<ParentSize />` component. This is the offending code (built with Babel):

[code]

So basically something is going on with Babel's replacement for the `for ... of` loop at https://github.com/hshoff/vx/blob/3e41d4fc030bbe5b9c6b5031f2cb210c2e0ae8ee/packages/vx-responsive/src/components/ParentSize.js#L14

[2018-03-27 10:15] sto3psl opened #259 "feature idea: custom axis tick label component"
Currently the styling options for axis tick labels with `@vx/axis` are quite limited since they just render a `<text />` element. For my use case I need multi line tick labels and some more control over the those.

### Idea

1. **Use `@vx/text` to render tick labels.**
This would enable labels to wrap and have multiline support without making the implementation too complex and I think the current

[2018-03-27 10:20] klaemo commented on #258
You need to include a `Symbol` polyfill in your site. It's available in [core-js](https://github.com/zloirock/core-js) for example. Alternatively, you could use https://polyfill.io for "automatic" polyfill detection.

[2018-03-27 10:58] denkristoffer commented on #258
Aha, interesting. I didn't know that ES had actually added symbols, I figured it was just Babel's naming. I'll just polyfill it then, thanks!

[2018-03-27 11:45] sto3psl commented on #259
I just saw that `<Axis />` accepts `children` as a function. With that you get all the props to draw your own axis.
https://github.com/hshoff/vx/blob/c66adf2a888572d6c0d77fccda28c338e36312c5/packages/vx-axis/src/axis/Axis.js#L121

This helps a lot, but I still think `tickComponent` would be nice 😄.

[2018-03-27 12:38] #255 closed

[2018-03-27 12:41] hshoff commented on #259
Good ideas! Happy to add both in an upcoming release.

Better docs will be coming as well.

[2018-03-28 09:14] sto3psl commented on #259
Nice! Do you want me to make a PR?

[2018-03-28 15:01] hshoff commented on #259
Go for it! Would love to land a PR for this

[2018-03-29 15:44] hshoff commented on #259
added in https://github.com/hshoff/vx/pull/260

[2018-03-29 15:44] #259 closed

[2018-04-03 23:46] trainorpj opened #262 "Update @vx/scales to be consistent with d3 v5.0.0"
I was looking through [@vx/scale](https://github.com/hshoff/vx/tree/master/packages/vx-scale), when I noticed that it's not up-to-date with d3 v5.0.0 (the most current version)

The [release notes](https://github.com/d3/d3/releases/tag/v5.0.0) have these two announcements:

## Issues that come from this:

* vx is not consistent with the latest release of d3
  *  If someone wanted to learn more abo

[2018-04-04 19:41] techniq opened #263 "Extract path generators from Link* components"
After some [discussion](https://github.com/drcmda/react-spring/issues/5) regarding using react-spring with vx, and for it to perform optimally (i.e. not involve React diffing during the animation), we would need to be able to pass the path data generator to it's `template` function (tag template function) and consider using it's `<animated.path />` instead of just `<path />`

For example:
[code]

[2018-04-04 23:36] theednaffattack opened #264 "vx geo"
How would one plot points onto a map using this.  I can create circles and glyphs but I'm not sure how to make them accurate. Is there a way to access the projection function that is used by Mercator?

[2018-04-05 13:48] drcmda commented on #263
To expose these functions would come in handy for any lib that can handle it (animated, ...). Just to illustrate what kind of difference it would make:

Letting React render the animation results in a full re-render of the entire subtree (in the example ~300 path components) on top of causing re-styling and paints making it pretty hard to get 30-60fps without drops for bigger trees:

<img width="1

[2018-04-08 23:53] brandonmp opened #266 "@vx/text width prop breaks w/ SSR"
(I'm not actually sure if this has anything to do with SSR, but the problem presents only on fresh page loads in my `nextjs` project, so that's normally the culprit.)

I'm calling the component like so:
[code]

On page load, however, the rendered styles on the `<text>` element are broken. specifically, the `transform` value is: `matrix(Infinity, 0, 0, Infinity, -Infinity, -Infinity) rotate(-90, 9,

[2018-04-09 00:03] techniq commented on #266
Is it possible that there is not getBoundingClientRect in the SSR env?
@vx/text needs this to measure word widths.

On Sun, Apr 8, 2018, 7:53 PM brandon <notifications@github.com> wrote:

[2018-04-09 00:56] hshoff commented on #266
hmm that's odd. I'm not seeing any errors when loading https://vx-demo.now.sh/text which uses nextjs...even tried making `<Text />` with all the props in your example above.

To help me reproduce this problem, which version of next are you using?

[2018-04-09 01:28] brandonmp commented on #266
@hshoff  I'm using `next@5.1.0`. I just threw in regular `<text>` elems for now & they're working fine, so I'm assuming it's something in the calcs in `@vx/text`

The docs look like they're referencing an old version maybe? the component in the docs is `<TextOutline>`, which i assume is diff't from the `<Text>` component. Either way, it doesn't look like the example is using `scaleToFit`, and sinc

[2018-04-09 02:01] brandonmp commented on #266
i  was able to reproduce it in the docs by modifying [`text.js`](https://github.com/hshoff/vx/blob/master/packages/vx-demo/pages/text.js) to this:

[code]

[here's a live demo](https://vxdemo-rmbqtvsygr.now.sh/text)

[2018-04-09 02:09] techniq commented on #266
Recharts (where I originally submitted this component too) has a [SSR check](https://github.com/recharts/recharts/blob/master/src/component/Text.js#L67) before calculating the word widths that we should do as well.  I haven't used SSR much myself so I've never ran into this.  I'm guessing if we don't run this on the server, it should run the calculations during the client render.

[2018-04-09 09:16] maganuk opened #267 "@vx/axis ticklabelprops dy not working"
After update to 0.0.159 or 0.0.160 from 0.0.158, setting the dy in ticklabelprops on the left or right axis doesnt seem to work.

`tickLabelProps={() => ({
        dy: '-0.4em',
        textAnchor: 'start'
      })}
`

[2018-04-09 16:07] hshoff commented on #267
Thanks for the bug report @maganuk! We replaced axis tick labels with `@vx/text` in `v0.0.159`. Looks like we need to update`@vx/text` to support `em/rem` values for `dx/dy`

[2018-04-09 19:55] williaster commented on #266
I'm also less familiar with SSR, can this be fixed with the SSR check + moving it to `componentDidMount` to compute upon client render?

[2018-04-09 20:15] techniq commented on #266
@williaster we need to recalculate the word widths any time the children (i.e. text) or styles change so it needs to happen anytime the props change (although this will need to be changed to `getDerivedStateFromProps` in the future).

[2018-04-10 07:10] sto3psl commented on #267
I would be happy to come up with a PR for this. The calculation for `em` to `px` should be pretty straightforward with the font size of the `<Text />` element. But for `rem` I'm not quite sure. Would `getComputedStyle(document.documentElement).fontSize` be the correct way? It returns the font size in `px` which should equal `1rem`.

[2018-04-10 12:15] techniq commented on #267
@sto3psl based on a [quick search](https://stackoverflow.com/a/42769683/191902) that should work.  Might be better to do this in userland and pass the pixel value to `<Text dy={...} />`?

[2018-04-10 12:19] sto3psl commented on #267
@techniq I agree. I think supporting `em` is fine and if one needs `rem` it's not hard to do in userland. There can even be a hint in the docs how to work with `rem`.

[2018-04-10 14:05] janbaykara opened #268 "linearBand doesn't play with GridColumn"
So I was trying to make gridlines for a `scaleBand` of hours:

[code]

Nothing is generated. Recognise I can just `.map(hr => <Line from={{ x: xScale(hr)... />`.

However a quick solution could be for vx `scaleBand` to automatically store the `domain` property as `ticks`, since this issue appears for lack of [`d3.scaleBand.ticks`](https://github.com/d3/d3-scale#band-scales) which [`Grid` relies on

[2018-04-10 15:08] hshoff commented on #268
Good catch, @janbaykara! I mentally made a note about this when I was first making `@vx/grid`, meant to get back to this. Happy to accept a PR where grid uses domain when no `scale.ticks` is undefined.

[2018-04-10 15:11] hshoff commented on #267
This plan sounds good to me

[2018-04-10 15:37] hshoff opened #269 "[scale] explore new context api for scale provider/consumers"
docs: https://reactjs.org/docs/context.html

A common use case in data viz land is having multiple charts share the same time scale on a dashboard.

Currently you would have a parent component that controls the scale and passes it down through props. Thinking we could make `<ScaleProvider/>` and `<ScaleConsumer/>`.

Not sure how helpful it would be to have this live in `vx` might be fine letter th

[2018-04-10 17:09] techniq commented on #269
Similarly, using react context to pass the rendering context (for lack of better words).  IE. using `<svg />` vs `<canvas />` (at some point).  Could be passed to our [@vx/shape](https://github.com/hshoff/vx/tree/master/packages/vx-shape/src/shapes) components using [d3-path](https://github.com/d3/d3-path) or which primitives to use (svg using '<rect>', '<circle>', '<path>', canvas using say [reac

[2018-04-10 20:00] browniefed commented on #269
I don't think passing rendering context via react context is a good idea. Doing it via a build step (using primitive, etc) allows for code to be eliminated. In the case of passing via context you'd be shipping native or unnecessary code all over.

I may be misunderstanding what you're saying though.

[2018-04-10 20:05] techniq commented on #269
@browniefed For react-native I could see the build target being able to dictate which components to use (not `<svg />` but Art/etc) but not sure this would work for the web (some charts might use svg for convenience (click handlers, styling, etc), others use canvas for performance.

Maybe this is solvable via a build step?

[2018-04-10 21:41] janbaykara commented on #269
I think it 100% makes sense to employ Context in code examples, to be encouraged, but beyond that I'm not sure it's necessary to build into a library that calls itself a "collection of reusable low-level visualization components." What would it do beyond wrapping Context?

[2018-04-10 22:37] trainorpj commented on #262
Sounds good. I agree with linking to d3-scale-chromatic.  Maybe the readme can include a note on how to make color scales, i.e.

[code]
I'll work on this.  After updating the dependency, most of the work will be in fixing up the readme 📝and fixing tests

[2018-04-12 14:59] #262 closed

[2018-04-12 15:30] khipukamayuq commented on #14
@Fxlr8 How's this coming? Exploring vx adoption and these features would definitely be a plus to have available.

[2018-04-12 15:36] hshoff commented on #14
getting closer
![vx-brush-progress](https://user-images.githubusercontent.com/339208/38687828-934ad930-3e45-11e8-988b-fc7a6380f8fe.gif)

[2018-04-15 17:12] hshoff commented on #269
Having thought about this a bit more, I think this is a better fit for a guide or a tutorial than a reusable component.

[2018-04-15 17:12] #269 closed

[2018-04-16 16:53] brandonmp commented on #266
@techniq  is it good enough to just put a ballpark value based on string length for SSR, then calc the real value when the component mounts?

it's admittedly a 'good enough' solution, but i've used similar approaches in a few cases working around SSR constraints.

so, e.g., where getStringWidth.js returns null on the server:

[code]

you could simply do
[code]

Could also add a `pixelsPerCharacter

[2018-04-16 17:02] brandonmp commented on #266
also: the typical way i see ssr checked is `typeof window === 'undefined'`. i like the try/catch approach, but maybe a more explicit check is better here

[2018-04-16 20:44] techniq commented on #266
@brandonmp seems reasonable.  I'm not very familiar with SSR and how state is reconstituted on the client.  Would want to make sure another calculation occurred on the client to correct the values.

Also, seems like matching how recharts handles this would work.   Changing [this](https://github.com/hshoff/vx/blob/master/packages/vx-text/src/Text.js#L46) to

[code]

[2018-04-18 15:56] chrisdrackett opened #273 "Release / Version Plan"
I'm curious what the plan with VX is when it comes to the release or version. Right now we have VX locked to 0.0.160 because patches might contain breaking changes. Are there any plans to move to semver? I understand the project is still maybe somewhat pre-release, but we're finding it stable enough to use in production.

[2018-04-19 07:07] sto3psl opened #274 "Enforce some code formatting and linting"
Since I have done some small contributions to vx I was never quite sure how to format my code or if there are any rules I should follow.

I think it would be really nice to enforce some by tools since no one wants to think about code formatting in 2018. At my company we use [Prettier](https://prettier.io) for formatting and [StandardJS](https://standardjs.com) as linter. Is that something vx shoul

[2018-04-19 14:30] hshoff commented on #274
This is something we would like to have for v1. I'd like to add prettier and follow Airbnb's style guide. Happy to take a look at a PR if your take a swing at it. Going to close this issue in favor of: https://github.com/hshoff/vx/issues/128

[2018-04-19 14:30] #274 closed

[2018-04-19 14:36] hshoff commented on #273
Hi @chrisdrackett, thanks for checking out vx! We're still in pre v1. Need to add interactions. No breaking changes planned right now ([read more](https://github.com/hshoff/vx/issues/156#issuecomment-331318108)). Check out the [road to v1](https://github.com/hshoff/vx/projects/1).

We're getting closer but a bit more work to be done.

[2018-04-19 14:36] #273 closed

[2018-04-23 21:39] esetnik opened #276 "AxisRight inside Group"
Is there an example of using `<AxisLeft />` in conjunction with `<AxisRight />`? It might also be useful to upgrade the demo https://vx-demo.now.sh/axis to show `<AxisRight />` as well.

When I try to use `<AxisRight />` in the following example it is rendered in the middle of the graph. I'm not sure if this is a bug or incorrect usage on my part.

<img width="1065" alt="screen shot 2018-04-23 at

[2018-04-24 18:41] SamSamskies opened #277 "Missing documentation for Shape.Pie"
There is a Shape.Pie component example in the gallery, but there's no documentation for it.

Pie example in gallery: https://vx-demo.now.sh/pies
Shapes documentation: https://vx-demo.now.sh/static/docs/vx-shape.html

[2018-04-24 20:02] esetnik opened #278 "Documentation typo for @vx/axis"
https://vx-demo.now.sh/static/docs/vx-axis.html

Name | Default | Type | Description
-- | -- | -- | --
scale |   | function | A d3 scale function.
top |   | number | A pixel value for the top margin.
left |   | number | A pixel value for the top margin.

Both `top` and `left` descriptions mention the top margin.

[2018-04-24 20:03] esetnik opened #279 "Documentation under source control"
I've found a few documentation issues so far while working on the project e.g. https://github.com/hshoff/vx/issues/278. I'd be happy to submit PRs with fixes if the documentation is under source control.

[2018-04-26 19:18] sto3psl commented on #279
Hi @esetnik and thanks for the issue. The documentation is actually in this repository. The typo you mentioned in #278 can be found here: [`/packages/vx-demo/static/docs/vx-axis.html`](https://github.com/hshoff/vx/blob/master/packages/vx-demo/static/docs/vx-axis.html). Most (if not all) of the things you find on the website related to docs are in `/packages/vx-demo`.

[2018-04-28 17:36] hshoff commented on #267
fixed by https://github.com/hshoff/vx/pull/271

[2018-04-28 17:36] #267 closed

[2018-04-28 17:38] hshoff commented on #276
fixed by https://github.com/hshoff/vx/pull/271 and confirmed fix in https://github.com/hshoff/vx/pull/280

[2018-04-28 17:38] #276 closed

[2018-04-28 17:45] hshoff commented on #279
yup `npm run docs` compiles each package's README into an HTML doc with the same name inside a folder called docs inside vx-demo. Related PR: https://github.com/hshoff/vx/pull/32

I need to run the script and deploy a new vx-demo.now.sh to sync readme updates.

[2018-04-28 18:59] hshoff commented on #278
fixed in https://github.com/hshoff/vx/pull/281

[2018-04-28 18:59] #278 closed

[2018-04-28 18:59] hshoff commented on #279
fixed in https://github.com/hshoff/vx/pull/281

[2018-04-28 18:59] #279 closed

[2018-04-28 22:42] #268 closed

[2018-04-29 20:01] esetnik opened #283 "<Axis /> tickLabelProps.fontSize should support em/rem/px string values"
# Description
When customizing AxisBottom an a console error is encountered. The `AxisBottom` definition is:
[code]

# Example
https://codesandbox.io/s/140pj16kyq

# Error
[code]

[2018-04-29 20:04] esetnik opened #284 "AxisRight numTicks not respected"
# Description
When customizing `AxisRight` the `numTicks` property is not respected. The request is for 3 ticks but the graph only renders with two ticks:
[code]

# Example
https://codesandbox.io/s/140pj16kyq

[2018-04-29 20:48] hshoff commented on #284
This is expected. From d3 docs:

https://github.com/d3/d3-scale#continuous_ticks

You can use the `tickValues` prop to override `scale.ticks()` by passing in an array of values. Here's an example: https://codesandbox.io/s/6lxprkp92z

[2018-04-29 20:48] #284 closed

[2018-04-29 20:56] hshoff commented on #283
At the moment, `tickLabelProps.fontSize` only supports numbers. If you change `"1em"` => `16` it will work without the error in the console: https://codesandbox.io/s/38ryq4kz5 We'll add a propType check on this in the future.

[2018-04-30 01:16] #245 closed

[2018-05-01 02:04] jcdavison opened #286 "Error: <tspan> attribute x: Expected length, "-8-0.25em"."
hi @hshoff

Cool library, very promising for us.

We are attempting to render something that plots linear money on the y axis and time on the x axis
[code]

Our problem occurs when we remove the `tickLabelProps: () => {}` from the `AxisLeft` component.

The graph renders correctly but we keep getting html errors where the computed value of the tspan is wrong.

When we include the tickLabelProps ca

[2018-05-01 16:05] hshoff commented on #286
Hi @jcdavison thanks for checking out vx! To get him reproduce the bug, which version of `@vx/axis` are you using? The latest version is `0.0.162` and has some fixes for tick labels `<text />` elements

[2018-05-01 16:59] esetnik commented on #284
Thanks for the feedback. I will implement `tickValues` as suggested.

[2018-05-01 17:36] lisza commented on #286
Great thank you that fixed it! We were using `@vx/axis@0.0.160` @hshoff

[2018-05-01 17:38] #286 closed

[2018-05-03 14:40] stefanvermaas opened #287 "Adding a simple tooltip to a bar chart"
Hi all,

I've been trying to add a simple tooltip on the bar graph. But I can't get it to work and reading through the docs and code didn't help me either.

What I want is a tooltip that aligns to the right side of a bar (with some extra padding). And it doesn't matter where you exactly enter the bar with your mouse pointer, but it needs to be align just underneath the top of the bar. The picture

[2018-05-03 15:49] hshoff commented on #287
Hi @stefanvermaas, thanks for checking out vx! Here's an example of how you might do that: https://codesandbox.io/s/w6pvxmp985

![screen shot 2018-05-03 at 11 48 55 am](https://user-images.githubusercontent.com/339208/39587680-11e05634-4ec8-11e8-8841-021fbb739533.png)

[2018-05-03 15:49] #287 closed

[2018-05-03 18:42] williaster commented on #287
@stefanvermaas just in case it's useful, [here's another example](https://codesandbox.io/s/kw02m019mr) using our `TooltipWithBounds` component that will place the tooltip to the left (and/or top) of the pointer if placing it on the right would "overflow" the bounds of the container.

<img src="https://user-images.githubusercontent.com/4496521/39596348-e55c52b2-4ec6-11e8-89dd-a96cfc53d9fb.gif" widt

[2018-05-03 23:10] stefanvermaas commented on #287
Thank you both for the directions! Ultimately it was a combination of your directions that helped me to actually create the graph correctly.

I forgot to add one thing in the opening post, and this was causing the trouble eventually; I was using the `ScaleSVG `, which returned not the actual width and height of the outer component, but the "given" width and height. This made that the calculations

[2018-05-07 10:29] gBokiau opened #288 "BarStack doesn't work with ScalePoint"
`BarStack` doesn't work with ScalePoint because the latter doesn't implement `innerPadding()` (or `outerPadding()` for that matter). This might or might not be a D3 issue,  and might or might not be by design, still it wasn't what I expected.

[2018-05-10 10:33] emepyc opened #289 "TooltipWithBounds gives warning: React does not recognize the `getRects` prop on a DOM element"
I'm trying to use the TooltipWithBounds component
(React 16.2.0 and @vx/tooltip 0.0.161)

[code]

And I'm getting this Warning:

[code]

[2018-05-10 17:45] williaster commented on #289
Hi @emepyc! thanks for checking out vx and raising this issue. I imagine props are being spread somewhere where they shouldn't be, I'll take a look asap.

[2018-05-15 15:01] #289 closed

[2018-05-17 04:20] esetnik opened #291 "BarStack With Negative Values"
How can I use `<BarStack>` when one of the keys contains negative values?

I am trying to reproduce something that looks like:
<img width="697" alt="screen shot 2018-05-17 at 12 19 34 am" src="https://user-images.githubusercontent.com/664434/40156527-06d3d900-5968-11e8-8bcf-452d9744fd00.png">

Here's a [sandbox link](https://codesandbox.io/s/omk0j0j2z) which demonstrates my attempt at making the [

[2018-05-17 15:31] hshoff commented on #291
My fault, I don't think this is documented anywhere yet. Will add an example to gallery as well. But you need to use `<Stack />` and pass in an offset prop `offset={'diverging'}` ([d3 stack offset docs](https://github.com/d3/d3-shape#stack-offsets))

Here's a quick example based of your sandbox:
![screen shot 2018-05-17 at 11 31 02 am](https://user-images.githubusercontent.com/339208/40187570-d366

[2018-05-17 15:31] #291 closed

[2018-05-17 15:57] yuchi opened #293 "You can probably close those milestones…"
…in GitHub :)

[2018-05-17 17:13] esetnik commented on #291
That’s great thanks for the clarification!

[2018-05-17 17:23] #293 closed, assigned to nobody

[2018-05-18 08:35] yuchi commented on #277
@hshoff I may have few minutes off to cover this. Any objections?

[2018-05-18 18:26] hshoff commented on #277
@yuchi go for it!

[2018-05-18 22:13] davidandrus opened #295 "LinePath x and y accessors are not called with index and data arguments as they are in D3"
I am new to vx (and to D3) and while working with `LinePath` I noticed the `x` and `y` accessor functions are not invoked with the same arguments as they are in D3. In vx the only argument is element (d) where in D3 they are: element (d), index (i), data.

vx’s implementation: https://github.com/hshoff/vx/blob/master/packages/vx-shape/src/shapes/LinePath.js#L31-L32
 D3 list of arguments: https://g

[2018-05-30 06:02] casramsey commented on #277
@yuchi - are there any examples anywhere that show how to colour segments and what centroid does, etc?  Been scouring the interweb and can't find anything apart from the example in the gallers.
Thanks kindly

[2018-05-30 10:42] sto3psl commented on #295
Thanks for the issue @davidandrus. This sounds like a good idea to me and consistency with d3 is always nice.

This also affects `@vx/Area | @vx/AreaClosed` and maybe others.

PRs always welcome!

[2018-05-30 17:10] davidandrus commented on #295
Sounds great, I will plan on submitting something within the next week or so.

[2018-05-30 20:34] marksiano opened #296 "Warning upon first tooltip mouseover"
Upon mousing over an element which creates a tooltip for the first time, a warning is logged in the console.

"Warning: React does not recognize the `getRects` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `getrects` instead. If you accidentally passed it from a parent component, remove it from the DOM element."

This happens

[2018-05-30 20:39] williaster commented on #296
Hey @marksiano, thanks for checking out vx!

Just curious what version of `@vx/tooltip` you are on and which demo example? This should have been fixed by #290 and in `v0.0.163`

[2018-05-30 22:23] yuchi commented on #277
@casramsey you can easily do that by passing a function to the `fill` prop. A good idea is to use a [`scale*` function](http://localhost:3000/legends).

[2018-05-31 00:52] casramsey commented on #277
Great help @yuchi - thanks very much!

[2018-05-31 10:25] #277 closed, assigned to nobody

[2018-06-01 08:30] PascalSenn commented on #56
I checked out VX a week ago and I'm already hyped.
I see we are all implementing our own typings. I guess I'd make sense to bring them all together.
Without maintaining those typings, they are already out of date once we are finished.
I got an idea.
I see that this library has very good documentation. What about writing typings and then generating the documentation of them? @hshoff
http://typedoc.

[2018-06-01 17:50] janbaykara commented on #56
Would it be completely off-menu to rewrite this in typescript? The majority of it would come from d3's typings anyway. It'd save having to separately update typings.

[2018-06-04 18:36] marksiano commented on #296
Hi, thanks. This was resolved when I installed the new version.

[2018-06-04 18:36] #296 closed

[2018-06-04 18:42] marksiano opened #299 "TypeError: Cannot read property 'object' of undefined with React 16"
I just upgraded my project to React 16, and I get this error whenever I try to run it:

. It seems to be an issue with vx/axis, since the file at the bottom of the stack trace is ./node_modules/@vx/axis/build/axis/Axis.js.Object.defineProperty.value.

[2018-06-04 18:57] hshoff commented on #299
Hi @marksiano could you provide us with a codesandbox link reproducing the error? What are you using to build the project? All of the [gallery](https://vx-demo.now.sh/gallery) examples are running on React 16 without error.

This may be related to the breaking changes between 15 => 16 https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes

[2018-06-05 17:39] #143 closed

[2018-06-07 15:13] sto3psl opened #300 "exporting utility function `getStringWidth` from @vx/text"
`@vx/text` is a great package and has a great utility function `getStringWidth` which I currently use in some charts in the following way (`@vx@0.0.163`):

[code]

After installing the `0.0.165-beta.0` this breaks and my charts don't work anymore with the following error:

[code]

I'm not quite sure why but I think it has to do with the rollup update and I'm not even supposed to import from `@vx/t

[2018-06-07 16:22] hshoff commented on #300
Good catch! i need to remove the `external-helpers` babel plugin when we build the `build/` dir of cjs modules.

Will also export the util from `@vx/text`

[2018-06-07 17:45] #300 closed

[2018-06-07 18:38] JacquiManzi opened #302 "Heatmap - Allow for auto indexed rows"
First off, thanks for making this project- it’s exactly what I've needed.

So, I'm implementing a heatmap using VX and would like to provide a custom data structure. From reading the docs and source code, I believe this is the structure that is intended for the heatmap chart:

[code]

The problem is that I would like to have my API return matching data structures for my charts to consume in order

[2018-06-07 18:59] hshoff commented on #300
@sto3psl released in `0.0.165-beta.1` mind giving that version a shot and let me know? you should be able to do either:

[code]

[2018-06-07 21:01] sto3psl commented on #300
@hshoff from a first quick look the charts all work. Will test it tomorrow in our actual app with real data but it looks good. Thanks for the quick update!

[2018-06-07 21:38] JacquiManzi opened #303 "Mercator - Low scale crashes the browser"
I'm still trying to debug why this is happening,  but it appears that setting `scale` to a low value (`1` for example), will crash the browser. I stumbled on this accidentally and it isn't actually a problem for me since my scale should never go that low, but I thought I'd file an issue any way in case someone else runs into this.

This crashes my browser:
[code]

This is totally fine:
[code]

Bro

[2018-06-09 18:40] JacquiManzi opened #305 "Add the Natural Earth projection to the vx-geo package"
I found myself needing to use the Natural Earth projection from `d3-geo` and thought it would be a nice addition to the `vx-geo` package.

Here is the pull request: https://github.com/hshoff/vx/pull/304

I compiled and tested this with the vx-demo package. Here is the result:
<img width="862" alt="screen shot 2018-06-09 at 11 26 58 am" src="https://user-images.githubusercontent.com/4119615/4119498

[2018-06-09 20:44] hshoff commented on #305
added in https://github.com/hshoff/vx/pull/304

[2018-06-09 20:44] #305 closed

[2018-06-09 22:33] hshoff commented on #256
This should be fixed with the new build. https://github.com/hshoff/vx/pull/298/files#diff-945ec5ee113a4a7af5962b7d29372674R46

[2018-06-09 22:33] #256 closed

[2018-06-10 14:52] hshoff commented on #299
@marksiano any luck resolving the error?

[2018-06-13 01:15] hshoff commented on #299
Going to close this for now. Feel free to follow up and we can reopen if it's found to be a problem with vx. Happy to help!

[2018-06-13 01:15] #299 closed

[2018-06-13 01:33] hshoff commented on #302
Great idea @JacquiManzi! I went for a bit different approach that allows you to pass in a `yBin()` prop (it defaults to your `bin()` prop).

Both `yBin()` and `bin()` will get a second arg with the index of the datum.

instead of adding a boolean prop you would do:

[code]

[2018-06-13 02:07] #302 closed

[2018-06-13 17:51] #189 closed

[2018-06-13 17:55] techniq commented on #189
Thanks @hshoff

[2018-06-13 19:02] JacquiManzi commented on #302
Perfect, thanks so much @hshoff !

[2018-06-14 18:53] techniq commented on #190
Been tracking the progress of [d3-sankey-circular](https://github.com/tomshanley/d3-sankey-circular) in hopes to only use it for both circular and non-circular sankey layouts, but just logged an [issue](https://github.com/tomshanley/d3-sankey-circular/issues/24) regarding handling of `nodePadding` and general layout.

[2018-06-14 19:08] esetnik opened #310 "Axis scaleTime Interval"
https://github.com/d3/d3-scale#time_ticks

According to the d3 docs an interval may be supplied to the ticks. I have used `<AxisBottom numTicks={timeYear} />` which seems to work as expected but fails props validation:

[code]

Relevant https://github.com/hshoff/vx/blob/master/packages/vx-axis/src/axis/Axis.js#L82

[2018-06-14 20:09] hshoff commented on #310
Hi @esetnik we separated these into two different props on Axis. There's `numTicks` for the number and `tickValues` which you can pass the array of tick values.

[2018-06-14 20:10] hshoff commented on #310
here's an example of custom `tickValues` on an Axis: https://codesandbox.io/s/6lxprkp92z

![screen shot 2018-06-14 at 4 10 32 pm](https://user-images.githubusercontent.com/339208/41435632-7fb0c590-6fed-11e8-9b66-6512db1cb8e1.png)

[2018-06-18 23:57] hshoff commented on #310
Going to close this for now. Happy to re-open if the above doesn't work.

[2018-06-18 23:57] #310 closed

[2018-06-19 20:00] esetnik commented on #310
Hi @hshoff thanks for your help. I don't fully understand how to use tickValues for the bottom axis in conjunction with scaleTime. The problem is that if the data is only a few points (where one point is each year) then the axis automatically switches to month ticks. I'd like to use `https://github.com/d3/d3-time#_interval` to constrain the axis ticks to be just the years. You can see what I mean

[2018-06-19 21:29] mzabriskie opened #312 "Legend shapeStyle"
`<Legend/>` `shapeStyle` prop is being implemented incorrectly by `Rect`.

https://github.com/hshoff/vx/blob/master/packages/vx-legend/src/shapes/Rect.js#L10

The `style` prop needs to be spread:

[code]

[2018-06-19 21:45] hshoff commented on #312
🤦‍♂️ will get the fix published as soon as possible.

[2018-06-19 21:57] #312 closed

[2018-06-19 22:05] hshoff commented on #312
Published as `@vx/legend@0.0.167`

[2018-06-19 22:52] mzabriskie commented on #312
Thank you for the quick fix!

[2018-06-19 23:56] mjackson opened #314 "Don't do this!"
😅

[2018-06-24 17:52] hshoff commented on #314
Closing for now. Happy to reopen in the future.

[2018-06-24 17:52] #314 closed

[2018-06-26 18:34] williaster commented on #266
was there any alignment on the desired approach here? simply adding the line @techniq called out?

[code]

[2018-06-26 20:36] techniq commented on #266
I've not used SSR enough to give a definitive answer.

On Tue, Jun 26, 2018, 2:34 PM Chris Williams <notifications@github.com>
wrote:

[2018-07-06 13:40] rollasoc commented on #68
Gradients for me on iOS are showing as black,

I have tried Linear Gradient
                          <LinearGradient
                                from='#0f73c1'
                                to='#0f609f'
                                id="levelgradient"
                                fromOpacity={0.3}
                                toOpacity={1}
                            />

as well as

[2018-07-06 13:43] rollasoc opened #317 "iOS - Linear Gradients showing as Black"
Gradients for me on iOS (using iOS 9.3.5) are showing as black,

I have tried Linear Gradient as well as the built in gradients, tried on Chrome and Safari on iOS.

                            <LinearGradient
                                from='#0f73c1'
                                to='#0f609f'
                                id="levelgradient"
                                fromOpacity={0.3

[2018-07-06 16:31] hshoff commented on #317
Could you try using the svg [`<linearGradient />`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/linearGradient) element instead of the `@vx/gradient` component and see if that works in iOS 9? Trying to figure out if it's a vx problem or the browser in the older version of iOS don't support svg gradients. Unfortunately I don't have an iOS 9 device to test on.

[2018-07-10 15:07] kevinxia787 opened #318 "Does anyone know how to make a parallel coordinates chart with vx?"

[2018-07-11 13:21] rollasoc commented on #317
I tried throwing a generic linear gradient over the graph.
<g>
<linearGradient id="linear-gradient" gradientUnits="userSpaceOnUse" x1="1041.6901" y1="169.485" x2="1383.9301" y2="169.485" gradientTransform="matrix(1 0 0 -1 -761.14 398.97)">
                                <stop offset="14%" stopColor="#2f343b" stopOpacity="0%" />
                                <stop offset="43%" stopColor="#337082

[2018-07-11 16:09] rollasoc commented on #317
I don't think this is a vx issue specifically.

The general consenus on the net, is to wrap the SVG linear gradient in a <defs> tag. Which is already being done by VX, (and wasn't done above, it also didn't work when I tried it).

Running the w3schools try it page (https://www.w3schools.com/graphics/tryit.asp?filename=trysvg_linear) works on ios.
but when I copy and paste the code into my React si

[2018-07-11 16:48] hshoff commented on #317
Sounds good. Going to close this for now. If there’s something vx can do to better support gradients on ios 9 i’d be happy to reopen and make the fix.

[2018-07-11 16:48] #317 closed

[2018-07-11 22:42] danielprogramic opened #321 "How to use showTooltip on component load "componentDidMount""
<svg width={width} height={height}>
          <rect x={0} y={0} width={width} height={height} fill="transparent" />
          <LinePath
            data={data}
            xScale={xScale}
            yScale={yScale}
            x={xSelector}
            y={ySelector}
            strokeWidth={1}
            stroke="#616161"
            strokeLinecap="round"
            fill="transparent"

[2018-07-12 00:48] williaster commented on #321
hey @danielprogramic, thanks for checking out vx!

my first thought is that you could call `this.props.onMouseMove` within the component's `componentDidMount` lifecycle method. would that work?

[2018-07-12 20:43] hshoff commented on #321
you should be able to do:

[code]

some notes from the React lifecycle docs https://reactjs.org/docs/react-component.html#componentdidmount:

[2018-07-12 20:43] #321 closed

[2018-07-12 21:40] williaster commented on #318
@kevinxia787 I haven't seen an example of this yet but should definitely be possible (tho some parallel coordinates visualizations are implmented with `<canvas />` for perf, which vx does not currently support).

I'll work on this next time I have a bit of free time unless someone beats me to it.

[2018-07-13 01:04] techniq commented on #318
@kevinxia787 @williaster Coincidently I've been looking at these / bump charts lately (but haven't attempted an example yet).

Here are some examples I've seen that might be useful for reference:

- http://www.columbia.edu/~cme2126/datavisuals/bigdata_parallelcoordinates.html
- [Exoplanets II](https://bl.ocks.org/syntagmatic/482706e0638c67836d94b20f0cb37122)
- [Nutrient Parallel Coordinates IV](ht

[2018-07-13 15:47] danielprogramic commented on #321
Hi guys,
Thank you for your assistance,

I was able to use the method showTooltip in the componentDidMount

`componentDidMount() {
  const { showTooltip } = this.props;
  showTooltip({
    tooltipData: {date: "2017", price: 100},
    tooltipLeft: 150,
    tooltipTop: 67.5,
  })
}`

But, I have a problem.
How do I get the tooltipData, tooltipLeft and  tooltipTop of all graphs?

I want the circle to

[2018-07-13 17:35] danielprogramic opened #322 "My Problem with showTooltip in the componentDidMount"
#321

Hi guys,
Thank you for your assistance,

I was able to use the method showTooltip in the componentDidMount

componentDidMount() { const { showTooltip } = this.props; showTooltip({ tooltipData: {date: "2017", price: 100}, tooltipLeft: 150, tooltipTop: 67.5, }) }

But, I have a problem.
How do I get the tooltipData, tooltipLeft and tooltipTop of all graphs?

I want the circle to appear on all

[2018-07-13 18:01] hshoff commented on #322
Hi Daniel, you would have to lift the tooltip state up to a component higher up in the tree and pass it down to your graphs. React has a great writeup on this topic: https://reactjs.org/docs/lifting-state-up.html

*pseudocode* instead of

[code]

do something like

[code]

This is just toy code, you'll probably want to pass the show/hide/updateTooltip functions as well or make your own handle tool

[2018-07-13 18:01] #322 closed

[2018-07-16 18:13] jpmn opened #323 "[docs] @vx/stats shows @vx/boxplot page instead"
In the docs, looking at the page for `@vx/stats` shows the page for `@vx/boxplot` instead.

https://vx-demo.now.sh/static/docs/vx-stats.html
https://vx-demo.now.sh/static/docs/vx-boxplot.html

[2018-07-17 17:39] hshoff commented on #323
Thanks for the catching this @jpmn! will be fixed in `v0.0.170` release

[2018-07-17 17:39] #323 closed

[2018-07-19 11:40] jpmn opened #326 "[readme] @vx/network partially has the documentation content of @vx/point"
In the readme of `@vx/network`, it mentions the methods available on `@vx/point`.

https://github.com/hshoff/vx/tree/master/packages/vx-network/Readme.md
https://github.com/hshoff/vx/tree/master/packages/vx-point/Readme.md

[2018-07-25 23:44] saidkholov commented on #14
Does @vx/brush offer similar functionality? Any docs on how to use it?

[2018-07-27 06:04] JacquiManzi commented on #303
I had some time to look into this and can no longer reproduce it. I'm going to close this issue and will investigate further if I run into it again.

[2018-07-27 06:04] #303 closed

[2018-07-31 16:12] kevinxia787 opened #328 "Can you add event handlers to a VX linegraph?"

[2018-07-31 16:48] hshoff commented on #328
yup!

[code]

[2018-07-31 16:48] #328 closed

[2018-07-31 17:14] kevinxia787 commented on #328
@hshoff Thanks for the quick reply! Is there a way to isolate the point that I click on? Because if I do

`onClick={data => event => console.log(data)}
`
I get the data array used to plot the line, not the specific entry.

[2018-07-31 17:19] hshoff commented on #328
Ah I see, it takes a bit more work to make that work on a LinePath. Check out this tutorial from @browniefed and the tooltip section for mapping an event position to a data point https://codedaily.io/tutorials/39/Make-a-Beautiful-Interactive-Bitcoin-Price-Chart-with-React-D3-and-VX#Tooltip-Handler

[2018-08-01 21:43] jens-ox commented on #181
I started dabbling with a Vue port today, since nobody seemed to be working on one.

You can find it over at [jens-ox/vue-vx](https://github.com/jens-ox/vue-vx).

I am a somewhat advanced Vue user (still heavily learning), but never worked with React, so bear with me :smile:

[2018-08-01 22:54] hshoff commented on #181
Woo! excited to see this happening!

[2018-08-02 14:58] kevinxia787 opened #329 "Have there been any updates to @vx/brush?"
Just curious if this is still the way to implement brush zoom: https://github.com/hshoff/vx/blob/master/packages/vx-demo/components/charts/BrushChart.js

[2018-08-07 18:03] #326 closed

[2018-08-07 18:03] hshoff commented on #326
Good catch, thanks for reporting @jpmn!

[2018-08-08 13:36] graingert commented on #115
@williaster that example is down now

[2018-08-08 17:36] williaster commented on #115
oops, webpackbin is no longer a thing :(

here's a [new one](https://codesandbox.io/s/o75r0x8v1z).

<img width="500" src="https://user-images.githubusercontent.com/4496521/43854115-cde063d6-9af6-11e8-9ad0-196e4298f492.png" />

[2018-08-09 15:36] kevinxia787 opened #331 "vx/marker positioning after brush and zoom"
Hi,

I'm working on a line graph that allows the user to click and add a marker to a specified location on the graph. I've also implemented zoom (the final version of the graph will have error thresholds so the user can view more specific data). For the marker, I'm saving the data entry that they click on in the state. In my render function, I calculate the new marker pointFrom and pointTo. I'm ru

[2018-08-09 18:12] hshoff commented on #331
I believe you'll want to update the `refMarkerFrom/To` after you update the scale's domain. Could you try updating your `render()` to the following?

[code]

[2018-08-13 15:17] kevinxia787 opened #333 "Is it possible to fill above and below two AreaClosed?"
![example](https://user-images.githubusercontent.com/22988323/44040676-dc27774e-9ee9-11e8-8c61-89b4f6e9a7f6.png)

I have two AreaClosed components like so: https://pastebin.com/i7Dh5ZTQ

Is there a way to fill in between the black lines? I've tried @vx/threshold but that didn't seem to work.

threshold code: https://pastebin.com/cmySkwwV

Thanks!

[2018-08-13 16:52] williaster commented on #333
Hey @kevinxia787 this is easiest to do with the the `Threshold` component. I can't quite tell from your code snippet (code sandbox might be easier?) but to me it looks like you might have your selectors inverted?

`y0` is typically the minimum value while `y1` is the max
![image](https://user-images.githubusercontent.com/4496521/44045725-4402c974-9ede-11e8-9dfe-8acfa6c7abbe.png)

Without seeing th

[2018-08-13 17:11] kevinxia787 commented on #333
Hey @williaster, thanks for responding.

I swapped `y0/y1` just now, and this is what it looks like.
![example1](https://user-images.githubusercontent.com/22988323/44046678-339bdf5a-9efa-11e8-808a-353a3a4f33d1.png)

I won't be able to put the code in the codesandbox but I posted just the graph's code in a pastebin here: https://pastebin.com/JgeTTDck

For some reason when I'm using threshold it onl

[2018-08-14 23:33] trebor opened #334 "Circle with mouse events"
**\<Bar\>** permits me to attach event handlers to it.  How would I do this in the same kind of way for a circle?

a **\<GlyphCircle\>** doesn't appear to be it, it's sizing uses some magic math and I can't figure out how to make some well-defined number of pixels in across. :(

a  **\<Group\>** doesn't appear to be it, i don't appear to be able to attach event handlers to it. :(

More generally t

[2018-08-14 23:59] hshoff commented on #334
are you using Circle from @vx/glyph? if so, it’s onClick={data => event => { // stuff }}

but you can also use svg circle: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/circle

[2018-08-15 00:41] trebor commented on #334
Oh, forgive me - I didn't preview my markdown. The components in question are now clearly shown in the original message.  I would rather use the **same** mechanism to capture events throughout my code, so using raw SVG elements is all good and well, but if I mix pure SVG and VX components together, the event capture methods are gonna differ.  Also at that point I am starting ot wonder if the VX is

[2018-08-15 01:17] hshoff commented on #334
`@vx/glyph` follows d3-shape's symbol api: https://github.com/d3/d3-shape#symbol_size. The size prop is the area. `size={400}` would be 20px wide.

This will change in the future (before v1) so vx and svg/react elements will have the same event handlers.

I'd recommend to just use a `<circle />` if you're not doing anything too magical.

[2018-08-15 11:33] kevinxia787 commented on #333
Hi @hshoff, thanks for your response.

Yes, I'm looking for something like that, except the area closed serves as an error range from low to high with a line in the middle like this:
![desired](https://user-images.githubusercontent.com/22988323/44146375-422208e2-a05d-11e8-9333-04abba786baa.png)

This is what I have right now after I modified the code according to the codesandbox.
![current](https:

[2018-08-15 16:36] hshoff commented on #333
I can take a closer look later, but for now you can drop the `- 80 - 40 * Math.random()` I just added that for demo purposes

[2018-08-16 10:00] drcmda opened #336 "Can't call setState (or forceUpdate) on an unmounted component."
Full message:

Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in ParentSize (created by ItemList)

This seems to happen because of https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/components

[2018-08-16 13:49] hshoff commented on #336
so https://github.com/hshoff/vx/blob/master/packages/vx-responsive/src/components/ParentSize.js#L18 was just merged in yesterday but hasn't been published yet (https://github.com/hshoff/vx/pull/335).

Which version of `@vx/responsive` are you using? also which browser and version do you see this? and finally, do you have a repro of the bug so I can ensure that this gets fixed? (no worries if not)

[2018-08-16 13:54] drcmda commented on #336
Oops, i was just browsing the code looking for what could've caused it, but setState in a raf will definitively crash transitiongroup. My dependencies are quite outdated atm: "@vx/responsive": "0.0.158"

[2018-08-16 14:01] hshoff commented on #336
I'll add a is mounted guard around the setState call in the raf version and publish it in 0.0.172 and we can see if that fixes it for the transitiongroup case.

[2018-08-16 14:27] hshoff commented on #336
v0.0.172 is published: https://github.com/hshoff/vx/releases/tag/v0.0.172

@drcmda would you mind updating your `@vx/responsive` dep to this version and seeing if the warning is still present?

[2018-08-16 16:49] hshoff commented on #334
@trebor just checking in, were you able to move forward?

[2018-08-16 18:26] trebor commented on #334
The **\<Bar\>** has been working for me.  It sizes in an uncomplicated way and accepts events like other things.

[2018-08-16 18:43] hshoff commented on #334
sounds good!

[2018-08-16 18:43] #334 closed

[2018-08-17 20:43] JacquiManzi commented on #336
Upgrading `@vx/responsive` fixed the warning message for me.

[2018-08-20 11:29] kevinxia787 commented on #333
Hi @hsoff, any update on why the y0 line doesn't render? Thanks!

[2018-08-20 11:52] hshoff commented on #333
Could you make a codesandbox reproducing thr issue? it’s hard to tell from code alone

[2018-08-20 13:47] hshoff commented on #333
here's it working with the brush: https://codesandbox.io/s/j7znj5okj5

the problem was the argument to `withBrush`

so instead of

[code]

do

[code]

[2018-08-20 13:57] kevinxia787 commented on #333
In my code  (not in the sandbox) I'm exporting the graph like so:

`export default withBrush(LineGraph)`

I tried doing:

` const Demo = withBrush(TestGraph);
`
` export default Demo;
`

but that didn't work.

[2018-08-20 14:01] hshoff commented on #333
Without more details it's hard to say what the problem might be. Is there an error in the console?

[2018-08-20 14:10] kevinxia787 commented on #333
Yes, only one:
![error](https://user-images.githubusercontent.com/22988323/44345383-38692d00-a461-11e8-914f-3560e4d79b2e.png)

[2018-08-20 14:15] hshoff commented on #333
looks like something related to your scales or x/y accessors

[2018-08-20 14:27] kevinxia787 commented on #333
Interesting - my original dataset had min and max error like this {minError: 200, maxError: 400}

I got a new dataset with min and max error structured liek this {minError: ["200"], maxError: ["400"]}, and modified my accessors like this:

`const minSelector = d => Number(d.minError[0]);`

and it worked!

The original accessor was just:

`const minSelector = d => d.minError;`

Any idea why that is

[2018-08-20 14:40] hshoff commented on #333
Happy to hear it works now.

vx is a collection of primitives so it tries not do any magic or guessing about how your data is formatted.

With your new dataset you went from having numbers to arrays of strings. So `d.minError[0]` gets the string then `Number(d.minError[0])` casts your string into a number.

Your y scale has a domain based on numbers (`[0, max]`). scales map a domain of values to a

[2018-08-20 14:40] #333 closed

[2018-08-20 15:08] hshoff commented on #336
@JacquiManzi thanks for following up @JacquiManzi!

Going to close this issue as it appears resolved. @drcmda happy to re-open if you find it did not fix for your use case.

[2018-08-20 15:08] #336 closed

[2018-08-23 16:18] martensm opened #338 "@vx/text innerRef prop"
I need to access the rendered element's `ref` for the `<Text>` component. This is currently a showstopper for me using this in an application I'm writing. Would you be able to add support for this?

I can submit a PR but I'm not entirely sure what best approach for this would be or if this isn't a good idea for some reason. The `ref` could be added to the `<svg>`, `<text>` or maybe even both eleme

[2018-08-23 16:32] loopmode commented on #338
Hi. What I am doing is this: just put a regular ref around the vx components, at a place you control (e.g. `<g ref={ref => this.el = ref}>...</g>`), then use `el.querySelector` to get to what I need.
Could it help your case too?

[2018-08-23 16:36] hshoff commented on #338
@martensm for now a work around is to pass a `ref` prop on your `<Text />`. Example: https://codesandbox.io/s/94w4pzz0r

For consistency we'll add `innerRef` prop to `@vx/text` in the future.

[2018-08-23 16:42] martensm commented on #338
Sorry, I should have been a bit more clear in the original comment. I need a `ref` to a real DOM node, not a React component so I'm not sure that will work unless I'm missing something here.

@loopmode's workaround should be sufficient so I could use that in the meantime.

[2018-08-23 16:54] hshoff commented on #338
The work around I mentioned will give you a reference to the `<text/>` react component instance not the dom element. The fix in #339 will give you a ref to the svg dom element that contains the text.

[2018-08-23 16:58] martensm commented on #338
Perfect! Thanks for the really quick turnaround time.

[2018-08-24 14:19] drcmda commented on #336
@hshoff thanks! it looks like it's fixed!

[2018-08-25 22:55] #338 closed

[2018-08-27 17:28] techniq opened #341 "@vx/threshold needs to generate unique clippath ids"
Currently [Threshold](https://github.com/hshoff/vx/blob/master/packages/vx-threshold/src/Threshold.js#L26) is using the same `threshold-clip-below` and `threshold-clip-above` ClipPath ids which causes an issue when using more than 1 Threshold chart on a page:

![image](https://user-images.githubusercontent.com/177476/44674767-87343b00-a9fc-11e8-8277-97ecc2ec744c.png)

We need to generate unique id

[2018-08-27 17:40] williaster commented on #341
irrespective of the issue, chart 2 looks pretty cool like that :) need to play with clip paths more.

[2018-08-27 17:44] techniq commented on #341
@williaster It did actually :).  This made it easier to see (chart 1 is showing accumulated values over a month), when they were daily it was more painful to track down the cause...

![image](https://user-images.githubusercontent.com/177476/44675722-5275b300-a9ff-11e8-8c64-3eb868458610.png)

[2018-08-27 18:12] #341 closed

[2018-08-27 18:38] hshoff commented on #341
@techniq just published `@vx/threshold@0.0.174` with the id prop fix.

[2018-08-28 21:13] loopmode opened #343 "Collapsible network graph"
I'm using `@vx/network` and users of the app can draw graphs of arbitrary complexity.

Is it possible to have collapsible functionality, much like with the many Tree and hierarchy examples, but with `import { Graph } from '@vx/network'`?
I've read https://github.com/hshoff/vx/issues/162 and looked at the examples and their code, and by the looks of the examples, it's just what I need, any of those

[2018-08-29 17:58] williaster commented on #343
Hey @loopmode you might be interested in checking out `@data-ui/network` which you can demo [here](https://williaster.github.io/data-ui/?selectedKind=network&selectedStory=Animated%20expandable%20network%20with%20custom%20renderer&full=0&addons=0&stories=1&panelRight=0), example source code [here](https://github.com/williaster/data-ui/tree/master/packages/demo/examples/04-network) and implementati

[2018-08-29 23:38] JacquiManzi commented on #317
You may have figured this one out already, but my guess is that you have a `<base />` tag in your react index.html.

This issue explains the problem: https://github.com/airbnb/lottie-web/issues/360 , but `<base />` will cause problems with relative `fill(url)` in svgs and cause all of your gradient svgs to display black.

[2018-09-01 00:41] montogeek commented on #216
I could contribute with this, You mean run all tests over Puppeteer instead of JSDom?

[2018-09-01 01:13] techniq commented on #216
@montogeek that would be awesome!  We need to use puppeteer for @vx/text tests so it can returned the [measured width](https://github.com/hshoff/vx/blob/master/packages/vx-text/src/util/getStringWidth.js#L21) which is unavailable in JSDom (since there isn't a true DOM).

@hshoff I've been using [react-testing-library](https://github.com/kentcdodds/react-testing-library) over enzyme nowaways in my

[2018-09-03 19:10] dagda1 opened #344 "patterns for spacing labels"
If you look at the picture below, the bottom nodes are all squashed together making the text unreadable:

enter image description here

This seems a common problem and I am curious to know what techniques there are to make these labels more readable.

How can i work out the text width and adjust the circles and rects accordingly?

![hierarrchy](https://user-images.githubusercontent.com/118328/4499

[2018-09-03 20:29] hshoff commented on #344
A `<Cluster />` accepts an optional [`nodeComponent` prop](https://github.com/hshoff/vx/blob/master/packages/vx-demo/pages/dendrograms.js#L129). Your nodeComponent will get passed a [prop called `node`](https://github.com/hshoff/vx/blob/master/packages/vx-demo/pages/dendrograms.js#L50) for each node in the tree. Here is where you can control the text and the shapes for each node.

In the demo tile

[2018-09-03 20:29] #344 closed

[2018-09-04 01:08] tinchoz49 opened #345 "Arrows direction on the edges of the network graph"
Hi everyone!

Can it be possible to create arrows direction on the network graph?

Something like this one: http://bl.ocks.org/d3noob/5141278

Thanks, great library btw!

[2018-09-04 02:13] hshoff commented on #345
Hi @tinchoz49, thanks for checking out vx. Yes this is possible through svg's [`<marker />`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/marker) element combined with a custom link component.

Here's an example: https://codesandbox.io/s/9qo1pqom9o

[2018-09-04 02:14] #345 closed

[2018-09-04 04:02] tinchoz49 commented on #345
wow thanks for the quick answer! It works great, I didn't know about the marker-(start|mid|end) attr.

[2018-09-04 08:08] loopmode commented on #345
@tinchoz49 As long you can live with uniform markers, using the SVG marker attributes is the best way.
However, since you're referencing the markers via `id` and `url()`, having individual markers becomes difficult, and while it's more complicated, it's doable. Ping me if you face that issue at some point.

[2018-09-06 03:34] STPMartin opened #347 "Add label to <BarGroupHorizontal />"
Hi -- is it possible to add a label to individual bars with BarGroupHorizontal? I have looked through the docs and also issue #251 and can't figure out how to do it.

I'm new to web development and any help would be greatly appreciated!

[2018-09-07 13:29] #128 closed

[2018-09-07 19:55] dagda1 opened #351 "Is my polygon component worth a PR"
I've created a polygon react component:
[code]

I've just blogged about it [here](http://www.thesoftwaresimpleton.com/blog/2018/09/06/hexagon/).

Do you think this is something worth putting into the vx?

It can create any equal sided polygon.  I've been using `vx` recently and it might be useful to others or maybe not :).

[2018-09-08 09:04] dagda1 opened #352 "why are other svgs nested in the ouptut"
The output of `<Text />` from `@vx/text` is:

`<svg x="0" y="0" style="overflow: visible;"><text class="node-vertical__text" width="50" fill="white" x="0" y="0" text-anchor="middle" style="pointer-events: none;"><tspan x="0" dy="0.71em">General</tspan><tspan x="0" dy="1em">Accounting</tspan></text></svg>`

The external svg is not necessary.  Why is it included?

[2018-09-08 16:52] williaster commented on #352
hey @dagda1 thanks for checking out vx!

@techniq is probably best prepared to answer this one. But I would say that nested svgs are not an invalid DOM structure, and my guess would be that they actually are necessary to get the correct offset positions.

[2018-09-09 08:34] dagda1 opened #353 "Is it possible to stack 2 <text /> elements on top of each other"
I would like to do this:

[code]
I the reason I need 2 different text areas on top of each other is because they both have different font styles.

I could target `<tspan />` with css but I can't think of a reliable way to ensure what text lines appear on which `<tspan />` elements because it is abstracted.

[2018-09-10 05:46] sto3psl commented on #352
Hi @dagda1, the additional svg is indeed intentional. AS  @williaster already said it is used to correctly position the `<Text />` component.

For more information and how we got to this solution you can read the discussion in this PR https://github.com/hshoff/vx/pull/271

[2018-09-10 07:26] dagda1 commented on #352
Thanks for the info!

[2018-09-10 07:26] #352 closed

[2018-09-10 17:29] hshoff commented on #353
hi @dagda1, thanks for checking out vx!

Yes it is possible using the `dy` prop on to adjust the offset based on the bounding box height of the text above. example: https://codesandbox.io/s/y7659zz6x

Hope that helps!

[2018-09-10 17:29] #353 closed

[2018-09-10 17:29] hshoff commented on #351
nice! yeah happy to take a look at PR.

[2018-09-13 05:40] dagda1 commented on #351
@hshoff I have created a PR #355

[2018-09-13 18:54] #347 closed

[2018-09-15 14:08] liviuignat commented on #207
Any news on the FunnelChart?

[2018-09-18 13:04] justnick21 opened #356 "getStringWidth leaves an empty svg in the document body."
When using `Text` from `@vx/text`. The getStringWith function seems to be leaving an empty svg on the body of my document which messes up the document height:

[code]

[2018-09-18 15:26] mmartinsky commented on #356
I believe the SVG is required, had the same issue myself. Setting the following CSS to target svg's that are direct children of body solved my issues:
[code]

Your actual charts and svg's are almost certainly wrapped in some sort of div, so they won't be affected by this rule.

[2018-09-18 17:29] hshoff commented on #356
Hi @justnick21, as @mmartinsky said the svg is required, here's the reasoning for this: https://github.com/hshoff/vx/issues/218#issuecomment-353644202

@techniq think we should `display: none` the svg by default?

[2018-09-18 17:32] techniq commented on #356
@hshoff `display: none` should be fine.  I thought it being `width` and `height` of `0px` would be the same result, but if @justnick21 is having issues from this, I don't see any reason why we couldn't do this as well (and just be safe).

[2018-09-18 18:35] hshoff commented on #351
landed in https://github.com/hshoff/vx/pull/355

[2018-09-18 18:35] #351 closed

[2018-09-18 19:27] hshoff commented on #356
fixed in https://github.com/hshoff/vx/pull/357 will be released in `v0.0.175`

[2018-09-18 19:27] #356 closed

[2018-09-18 20:59] justnick21 commented on #356
@hshoff Setting the css to `display: none` seemed to mess up the text for me. It looked like it broke the measurement util. I have solved this for now by setting the position to absolute instead of `display: none`. It might be worth double checking that the measurement still works with update #357.

[2018-09-18 21:02] hshoff commented on #356
@justnick21 yup will verify before releasing

[2018-09-19 04:32] loopmode commented on #356
For measuring, I usually place elements in negative offscreen using  `position: fixed` and e.g. `top: -1000px`, never had issues with that.
Also, `visibility: hidden` is better than `display: none` in such cases because indeed, browser layout algorithms tend to be disabled by `display: none` altogether, leading to all kinds of quirks.

[2018-09-21 12:54] magdalko opened #360 "Is it possible to add custom icons to the graph?"
Hi,

I am just wondering if this is possible to add to Area Graph icons in the specific point? Example below:

![skjermbilde 2018-09-21 kl 14 52 38](https://user-images.githubusercontent.com/31534726/45882310-163f3380-bdae-11e8-91e5-30987ff653eb.png)

I am new to the VX and I am not sure to what extent it is customizable

Thanks for answer!

[2018-09-21 18:53] hshoff commented on #360
Hi @magdalko, yes this is possible. Here's one approach: https://codesandbox.io/s/zwy39r2kll
<img width="554" alt="screen shot 2018-09-21 at 2 51 12 pm" src="https://user-images.githubusercontent.com/339208/45900468-e859ef00-bdad-11e8-8b17-fcbbf09e2f60.png">

Hope that helps and thanks for checking out vx!

[2018-09-21 18:53] #360 closed

[2018-09-22 13:39] geekplux commented on #190
Hi, how's going about this issue? Maybe I can provide some help if needed, because I'm familiar the d3-sankey API. 😆

BTW， I think sankey diagram designed for flow data, and flow data generally is non-circular. 👀

[2018-09-24 13:16] magdalko opened #361 "Zoom and pan of areaChart"
Hi,

I have found the zoom and pan in the example: https://codesandbox.io/s/32j6874rx5
I know its still during creation, but using the example I built my zoom and pan: https://codesandbox.io/s/7jp5j920zq
the ideal version of the graph suggests to have only xAxis zoom and pan, like here: https://demos.telerik.com/kendo-ui/bar-charts/pan-and-zoom
Any ideas how I can do it? I try to figure out how it

[2018-09-26 08:00] PascalSenn commented on #14
@hshoff  I like this!
Any update on this?
Can I be any help?

[2018-09-26 17:47] amilajack opened #362 "Incorrect linting pattern in package.json"
The current eslint lint pattern (`eslint \"{packages,scripts}/**/*.js\"`) does not run on all the js files in the codebase. The correct pattern for eslint should be `eslint .`. Would a PR for this be welcome?

[2018-09-26 19:12] williaster commented on #362
Thanks for raising this issue @amilajack.

The linting is relatively new, I'll play with it locally but PRs are always welcome 👍

[2018-09-26 20:29] nagman commented on #317
@JacquiManzi My god, you're a genius!

[2018-09-28 11:43] jens-ox opened #364 "Using voronoi tessellation to select closest line in multiline charts"
When making interactive multiline charts it is often necessary to provide some way to select a specific line. This can be nicely done using an invisible voronoi tessellation&mdash;when hovering the cell of a point, the line this point belongs to is marked active.

Example: [Multi-Line Voronoi](https://bl.ocks.org/mbostock/8033015).

Has anyone done this using vx? Or could this be integrated into v

[2018-09-28 14:40] hshoff commented on #364
Yes this is possible with vx. @williaster built this in a reusable chart form in [data-ui](https://github.com/williaster/data-ui). Example:
![screen shot 2018-09-28 at 10 30 52 am](https://user-images.githubusercontent.com/339208/46214678-b4308200-c309-11e8-8d1d-6461f4f3f51c.png)
https://williaster.github.io/data-ui/?selectedKind=xy-chart&selectedStory=LineSeries&full=0&addons=0&stories=1&panelRig

[2018-09-29 05:50] loopmode opened #366 "@vx/responsive ParentSize position"
Hi
Just tried out the `ParentSize` component from `@vx/responsive`, it looked as if I could simplify my own code a lot with it.
However, there is one thing I don't understand: The top/left position values are always 0 for me.

I understand that ResizeObserver cares more about paddings and margins when providing that value, and since I have no margins/paddings, it remains 0.
But I do have e.g. a va

[2018-10-01 14:14] jens-ox commented on #364
That's great! I thought that `vx-voronoi` was only used as a visualization component and not as accessor.

[2018-10-01 14:14] #364 closed

[2018-10-02 00:53] williaster commented on #366
hey @loopmode, thanks for checking out `vx`!

Can you be more specific about your example, or ideally link to a codesandbox to reproduce? Your description sounds like the [responsive demo in the gallery](https://vx-demo.now.sh/responsive), do you need more functionality than that? FWIW I'm not sure I've ever used `<ParentSize />` and had non-zero `top`/`left` values, but that hasn't been limiting

[2018-10-02 05:18] loopmode commented on #366
Hi @williaster
Well `@vx/bounds` looks just right, thanks for pointing it out.
Yet again it feels like I should have looked closer into `@vx` first, and  I would have saved myself some coding time.. :)

[2018-10-02 05:18] #366 closed

[2018-10-05 07:25] baisijian opened #369 "import issue"
import { letterFrequency } from '@vx/mock-data';
 cause:
Cannot resolve 'file' or 'directory' ../../assets/x/mock-data

[2018-10-05 14:36] hshoff commented on #369
hi @baisijian, could you provide some more information about your setup? what version of node? what OS? do you have a `node_modules/` directory that contains a `@vx/` directory? what version of `@vx/mock-data`?

[2018-10-05 15:57] #288 closed

[2018-10-06 15:39] hshoff commented on #369
Well I'm not sure what's going on with your setup. Could try upgrading node, the latest version is `10.11.0`: https://nodejs.org/en/ only thing i can think of is maybe your `npm` client is < 2 and it's having trouble with scoped packages: https://docs.npmjs.com/misc/scope

I don't think this is a problem with `vx` though. Here's an example of it working without problem on codesandbox: https://code

[2018-10-06 15:39] #369 closed

[2018-10-07 22:52] hshoff commented on #362
@amilajack which files is it missing? i get the same output for both patterns

[2018-10-07 23:13] amilajack commented on #362
I linted all the js files with eslint by running the following command: `eslint . --fix`. Here's the results. https://github.com/amilajack/vx/commit/27c756aa92caedb69a1589be52be4dfd495964ed

[2018-10-07 23:55] hshoff commented on #362
Right but it appears that the glob (`eslint \"{packages,scripts}/**/*.js\"`) works fine here. We only want to lint certain files. I have a PR coming that will update the rules/.eslintignore. Going to close this issue for now.

[2018-10-07 23:55] #362 closed

[2018-10-08 18:58] #10 closed

[2018-10-09 05:45] baisijian opened #373 "guide issue"
hi @hshoff :
I can not open the website https://medium.com/vx-code, I want to get some guide about component Tree from @vx/hierarchy, how to get it?

[2018-10-09 14:57] hshoff commented on #373
Hi @baisijian, unfortunately we don't have a guide for @vx/hierarchy. We do have examples in they gallery here:

- https://vx-demo.now.sh/trees
- https://vx-demo.now.sh/dendrograms
- https://vx-demo.now.sh/pack
- https://vx-demo.now.sh/treemap

`d3-hierarchy` has great docs which should help as well: https://github.com/d3/d3-hierarchy#d3-hierarchy

[2018-10-09 14:57] #373 closed

[2018-10-10 14:13] psachs21 commented on #207
@msathis yeah, i'd love to see an example.

[2018-10-10 18:56] hshoff commented on #207
Thought I would take a swing at the dribbble example. Ideally instead of interpolating the data I should make a new curve function. But I got lazy.

![screen shot 2018-10-10 at 2 52 51 pm](https://user-images.githubusercontent.com/339208/46759129-8ef22b00-cc9c-11e8-865c-4729f23eed5d.png)
https://codesandbox.io/s/m46lkn49j

This was a fun one.

[2018-10-11 06:55] liviuignat commented on #207
@hshoff  nice one. How would you do it vertical?

[2018-10-13 06:42] baisijian opened #374 "how to import zoom behavior"
hi @hshoff ,  i am confuse about how to make the chart zoom in and out?

[2018-10-13 13:32] hshoff commented on #374
@vx/zoom and @vx/brush aren’t done yet https://github.com/hshoff/vx/blob/master/packages/vx-zoom/src/Zoom.js. @vx/zoom progress is being tracked here: https://github.com/hshoff/vx/issues/7

There’s an example here of Zoom if you’re in need of the behavior now: https://codesandbox.io/embed/32j6874rx5

[2018-10-13 13:32] #374 closed

[2018-10-18 10:04] sto3psl opened #375 "Text measurement problems in browsers"
Working a lot with data visualisation and building responsive charts at my company, it came to my attention that in some cases browsers don't measure text correctly and it isn't the fastest thing in general. This got me to start investigating what methods are available to measure text in browsers and compare their speed and accuracy.

I compared these methods:

* [`Element.getBoundingClientRect()`

[2018-10-18 15:25] techniq commented on #375
@sto3psl Awesome analysis!  The discrepancies between the measuring types seems relatively low (fractional pixel typically) (I only looked in Chrome and Safari briefly) although I don't know if using a non-SVG based measurement could cause any problems with rendering inconsistencies, but with such a low variance, it's probably worth the speed improvement (especially getting it off the main thread)

[2018-10-19 06:49] loopmode commented on #375
`getBoundingClientRect` will always cause reflow / layout thrashing, so it's definitely not worth it.
About canvas measuring.. it might become more complicated when you have scaling transforms, e.g when there is a zoom feature for the user.
One would have to traverse up the svg tree and collect all scale transforms, then apply them to the result somehow, right?

[2018-10-19 10:01] sto3psl commented on #375
That's interesting. I didn't know that transforms affect the measured size of text in SVG since they don't affect `getBoundingClientRect`. I'm not quite sure though if scaling transforms would cause problems if measuring with canvas. My reasoning is that one usually measures to layout the text like in `@vx/text` and scaling after that won't change that. I will make a codepen and try with `ctx.meas

[2018-10-19 13:41] sto3psl commented on #375
I'm not sure if I follow. Could you make a short video of the zoom behaviour? Basic zooming with `transform: scale(x)` is like zooming an image and doesn't need new text measurements. Not sure what you use `getBoundingClientRect` for 😅.

[2018-10-25 12:59] sto3psl commented on #375
@hshoff I added some speed measurement to https://beta.observablehq.com/@sto3psl/text-measurement-in-the-browser. It now displays how fast every line got measured and how long it took to measure all lines. For individual lines the difference isn't that big of a deal but if you start measuring a lot of lines it adds up. Here you can see that `ctx.measureText()` is much faster than the other options

[2018-10-26 08:49] Groude opened #377 "Bubble Chart from 3d.js"
Hello!
Have you any plans to bringing **Bubble Chart** from _d3.js_ to this project?
Thank you.

[2018-10-26 09:53] sto3psl commented on #377
Hi @Groude thanks for the issue. Can you specify what chart you mean and maybe add a picture? That would help a lot because vx can already do a lot of stuff.

From googling "d3 bubble chart"  I found this link https://beta.observablehq.com/@mbostock/d3-bubble-chart. Is that what you mean?

If so you can already do that with vx. It's part of `@vx/hierarchy` and called pack. Unfortunately it's not i

[2018-10-29 16:33] hshoff commented on #377
Going to close this. Feel free to follow up here or open a new issue if you run into a blocker or question with your implementation.

[2018-10-29 16:33] #377 closed

[2018-10-31 16:52] NathanH81 opened #378 "Responsive SVG Component Children Prop Only Accepts Function"
The ResponsiveSVG component only accepts a function for the children prop, but I am able to add an array of JSX elements and it seems to work correctly and be responsive. Seeing the following error in console.

![vx-error](https://user-images.githubusercontent.com/7214789/47804587-2fb79180-dd03-11e8-98ac-1b3687db5b56.png)

[code]

[2018-10-31 17:11] hshoff commented on #378
Looks like an incorrect prop type. Thanks for letting us know. We'll get it updated in an upcoming release.

Prop type checks are removed with production builds of react so feel free to continue passing an array of children and ignore the console warning. Another workaround would be to pass function for now that returns your array of children.

[2018-10-31 17:19] hshoff commented on #378
oh! i should mention, you may want to check out `<ParentSize />` as an alternative to `<ResponsiveSVG />`: https://vx-demo.now.sh/responsive

[2018-11-01 20:47] NathanH81 commented on #378
Thanks for the information and fast response! Can't thank you enough for these packages. Really appreciate them. I will check out ParentSize as an alternative.

[2018-11-01 20:48] #378 closed

[2018-11-02 22:43] dagda1 opened #379 "is it possible to create a tree with nodes on either side"
I am looking to create something like this:

I need a tree but with the nodes on either side.  I've had create success with vxtree but that has one root node.

Is there a way I could spread them out like the diagram below?

![tree](https://user-images.githubusercontent.com/118328/47943894-55ee5480-def0-11e8-82f0-5d0967e5dfd4.png)

[2018-11-03 00:32] techniq commented on #379
I believe the technique I’ve seen using straight d3.js is to render 2 trees with each root at the middle/overlapping.

For example: http://bl.ocks.org/jdarling/2503502

You should be able to use 2 `<Tree />` components to accomplish the same thing.  See
https://vx-demo.now.sh/linkTypes for an example to change direction (you should be able to swap the x-scale’s min/max to go right/left.

[2018-11-22 07:12] dagda1 commented on #379
@techniq the 2 trees approach did not work for me because I need zooming and panning which was difficult to keep the trees together so I ended up with 1 tree:

https://codesandbox.io/s/znj3ykqwj3

I ended up doing the calculations for the nodes in the `./src/components/NodesFanout` component but this feels wrong, is there a better way:

[code]

My animation is a bit wrong also.

[2018-11-22 18:38] techniq commented on #379
Hmm, I've not done this myself so I can't be of much more help right now.

You might be able get away using a Polar coordinate system and adjust the size and separation props.
- https://vx-demo.now.sh/linkTypes
- https://codesandbox.io/s/vmqwrkl395

[2018-11-23 18:50] JCQuintas commented on #244
I believe I've improved on the code that was inside your sandbox.

It seems extending `Drag` instead of `Component` improves performance a bit. But I didn't make any performance tests, only my own feeling.

Having Access to `Drag` `dx`and `dy` allows us to reset the center of the graph as well as the scale. It also enabled the creation of `zoomTo`, which enables setting a custom zoom and `centerOn

[2018-11-26 09:28] feerglas opened #385 "Add className to parent group of LinePath"
If `LinePath` is used, a `path` is rendered inside a `<g>` element. It would be useful to pass a className which would be rendered on the `<g>` element. Some property like `groupClassName`would be nice.

A possible use-case would be the following: multiple `LinePath` are used inside a graph. The graph has a legend. If an item in the legend is hovered, the corresponding line in the graph should be

[2018-11-26 12:15] loopmode commented on #385
I've had a similar situation and used a somewhat valid workaround.
Have a look at https://stackoverflow.com/a/25302276/368254.
[code]
Using the `use` tag, you can create a "visual clone" of an element that has an ID. Now if you do that after the original element (e.g. further down in jsx), the clone is rendered on top.

So in my case, I made sure I always have an `id` - either the vx elements were

[2018-11-26 15:08] hshoff commented on #385
This is fixed in https://github.com/hshoff/vx/pull/383 at https://github.com/hshoff/vx/blob/d3f1736282fdbb7d73dea2ddcd8eb8f0ad572f31/packages/vx-shape/src/shapes/LinePath.js#L34. Removed unnecessary `<g>` wrappers.

Just a heads up on this use case -- unfortunately svg doesn't support `z-index`, it follows the painter's model. You can fake z-index by storing the render order in your react componen

[2018-11-27 13:59] JCQuintas commented on #244
Ultimately I removed `@vx/drag` and implemented all of its methods since I had to re-center X and Y on pretty much every interaction for the zoom not to screw up. It's a working example and I didn't find any 'bugs' yet, but I feel it still might be too naive.

Ultimatelly I would preffer the drag/drop events to be used rather than click, but I couldn't make it work.

[2018-12-03 20:18] hshoff commented on #385
Closing as we removed unnecessary `<g>` wrappers in https://github.com/hshoff/vx/pull/383

[2018-12-03 20:18] #385 closed

[2018-12-06 20:12] mr-kenhoff opened #386 "AreaClosed "xScale" parameter still in documentation"
It seems like the xScale disappeared in 126e2c0a51f0515953e6011d945739c7d9babb60.
However the documentation (for example in the [Readme](https://github.com/hshoff/vx/tree/master/packages/vx-shape)) still includes this parameter.
The same hold true for the websites [documentation section](https://vx-demo.now.sh/static/docs/vx-shape.html) which is quite missleading for vx beginners.

[2018-12-06 21:01] hshoff commented on #386
sorry about that 😞  the docs need some updating.

[2018-12-10 10:05] abradley opened #388 "TooltipWithBounds rendering sometimes jittery in Firefox with fractional offsets"
When non-integer top and left offsets are used for TooltipWithBounds, the tooltip rendering can be jittery in Firefox. If the chart is re-rendering regularly, the tooltip text position may oscillate noticeably. I have observed this to happen in practice when using `@data-ui/xy-chart` (https://github.com/williaster/data-ui/blob/949f310e19f1858a65a0177eae6b2c5ee419f319/packages/xy-chart/src/enhancer

[2018-12-10 12:13] visualcookie opened #390 "Missing docs @vx/shape"
Hello.

I've updated `@vx/shape` to `0.0.181` which currently breaks my build, since somehow a new prop has been introduced called `color` which is required. I've checked the docs and have found nothing at all about this prop.

How does this prop work and what does it do? To not break the build, I've set the prop to `color={() => false}` which makes all my bars black.

[2018-12-10 12:16] visualcookie commented on #390
Update: I've rechecked your commit messages and it seems that the `color` prop was `zScale` before. That solves the case.

Maybe it should be added to the docs.

[2018-12-10 14:18] hshoff commented on #390
There were a number of breaking changes of v0.0.181. While the docs a bit behind due to all of the updates we have other resources that are up to date.

- For a summary, motivation, and before + after of changes please see: [https://github.com/hshoff/vx/pull/383](https://github.com/hshoff/vx/pull/383)
- v0.0.181 [changelog](https://github.com/hshoff/vx/blob/master/CHANGELOG.md#v00181)
-  all [gall

[2018-12-10 15:04] visualcookie commented on #390
Thanks for the quick reply. Have already checked the first two links out. Looked over the gallery examples just now and on the BarGroup there's no example for the tooltip, but for an `onClick`.

After the update I was not able to get it working with `onMouseMove/onMouseOut`. Maybe my BarGroup is not correctly defined? Got no errors in console tho.

[code]

[2018-12-10 19:57] abradley commented on #388
On Ubuntu Linux, I see an up-down oscillation; on MacOS (Firefox 63.0.3), I see a subtler left-right oscillation.

A simple fix for this issue is to round the values passed to `translate` (#389).

[2018-12-11 09:16] visualcookie commented on #390
Oh, so I need to do that extra `<rect />` and can't apply it on the `<BarGroup />` component anymore?

[2018-12-11 14:05] visualcookie commented on #390
@hshoff Thanks for the headsup there. Going to update the version now and applying all the breaking changes to make it work again.

[2018-12-11 14:05] #390 closed

[2018-12-11 18:59] joshnabbott commented on #44
@hshoff any way you could update the links to those examples? They no longer seem to work: https://www.webpackbin.com/bins/-KpGjCM5yQ4nkND4c-P-

[2018-12-12 00:36] #388 closed

[2018-12-16 23:13] oeed commented on #56
This is a dealbreaker for us, would have loved to use VX but just can't really justify it without.

[2018-12-17 02:09] techniq commented on #56
I'm one of contributors to vx and have recently begun porting one of my projects that uses vx over to typescript and have been adding typings for the packages I use in said project.  I currently do not have time to add typings for everything, but if someone is willing to start a PR with the typescript plumbing, I could add my typings to help the effort along.

I currently have:
- `axis.d.ts`
- `gr

[2018-12-17 20:18] jackdbd commented on #56
That's awesome! I was thinking about writing some type declarations for `vx`, but I'm pretty new to Typescript and didn't really know where to start.

[2018-12-19 00:03] hshoff commented on #56
Hi all, thanks again for checking out vx.

Typescript isn’t currently a priority for vx at the moment. The priority right now is to finish up interactions, improve docs, and ship v1. Happy to revisit this in the future.

Until then, if there’s a community owned types for vx project out there, i’d be happy to link to it to help others looking for TS type defs.

[2018-12-26 07:53] dagda1 opened #396 "using strict with vx/text"
`@vx/text` still has the soon to be deprecated lifecycle methods `componentWillMount` and `componentWillReceiveProps` which get flagged when running in strict mode.

I have created PR #395 which fits my needs but with little testing it is hard to say what this could break.

It would be hard to refactor to `getDerivedStateFromProps` with my limited knowledge due to the fact that this method is stat

[2018-12-27 01:00] kono-paku opened #397 "Is preact still compatible?"
Hello,

I tried to use vx/vx with preact.
I do like to use both of them.
But, most examples is not working.

[code]

Only this one is working fine.
https://github.com/hshoff/vx/blob/master/packages/vx-demo/components/charts/SimpleBar.js

Do I have to do something for children attribute?

This page for supporting preact shows 404 error.
https://zeit.co/deployments/vx-preact.now.sh?redirect=1

I dee

[2018-12-30 14:02] jackdbd commented on #56
Since `vx` is a Javascript project, I think it makes sense to have no Typescript files in this repo.

As @madprog said, Typescript type definitions for all `vx` packages could be hosted on [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped). Type definitions are specific for a given version range, but there are already best practices to support different versions. See for example